@model GB.SUTEL.Entities.IndicadorUIT


<form id="formCreate" method="post"
      action="@Url.Action("_CrearIndicadorUIT")" data-ajax="true"
      data-ajax-message="Cargando datos...">

    <div class="modal fade" id="modalCrearIndicadorUIT">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crear Indicador UIT</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" id="frmIndicadorUIT">
                       
                    
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    

                        <div class="form-group">
                            @Html.LabelFor(model => model.DescIndicadorUIT, htmlAttributes: new { @class = "control-label col-md-4", @for = "txtNombreIndicadorUIT"  })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.DescIndicadorUIT, new { htmlAttributes = new { @class = "form-control", @id = "txtNombreIndicadorUIT" } })
                                @Html.ValidationMessageFor(model => model.DescIndicadorUIT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="alert alert-danger" hidden role="alert" id="divMensajeErrorCrearIndicadorUIT">
                            <strong>Error!</strong>
                            <div id="idMensajeErrorCuerpoCrearIndicadorUIT"></div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" class="btn btn-success" title="Crear" alt="Crear" />
                                <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">Cancelar</button>


                            </div>
                        </div>
                   

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $('#modalCrearIndicadorUIT').on('hidden.bs.modal', function (e) {
        $("#txtNombreIndicadorUIT").val('');
        $(this)
            .find("span")
            .val('');
    });


    $(document).ready(function () {
        function onSuccess(data) {

            data = JSON.parse(data);
            if (data.ok == "True") {
                $("#modalCrearIndicadorUIT").modal('hide');
                $('#modalCrearIndicadorUIT').on('hidden.bs.modal', function (e) {
                    $(this)
                        .find("input [type=text],textarea,select")
                        .val('')
                        .end()
                        .find("input[type=checkbox], input[type=radio]")
                        .prop("checked", "")
                        .end();
                });
                // esperar y volver a ejecutar el refresh de la tabla por AJAX
                
                $("#frmFiltroIndicadorUIT")[0].reset();
                $("#frmFiltroIndicadorUIT").submit();
                
              
                addSuccess({ msg: "La información se ha agregado con éxito." })

            } else {

                $("#divMensajeErrorCrearIndicadorUIT").show();
                $("#idMensajeErrorCuerpoCrearIndicadorUIT").html(data.strMensaje);
               
            }
        }
        function onFailure(error) {
            showError(error.responseText);
        }
        // pasa el id del form de crear
        // pasa la función a ejecutar si todo está bien
        // pasa la función a ejecutar si hay errores
        AjaxifyMyForm("formCreate",
            onSuccess,
            onFailure);
    });

    function showError(msg) {
        console.log("dd");
        $("#divMensajeErrorCrearIndicadorUIT").show();
        $("#idMensajeErrorCuerpoCrearIndicadorUIT").html(msg);
    }


</script>

