@using GB.SUTEL.Entities
@model List<Criterio>


    <table class="display" cellspacing="0" data-table-grid="true" data-table-grid-display-rows="4">
        <thead>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Criterio
                </th>

                <th class="no-sort" style="min-width:40px;"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>@Html.TextBox("txtFiltroCriterioCodigo", null, new { size = "5", onkeyup = "filtrarCriterioEditar(event);", @placeholder = "Código" })</td>
                <td colspan="2">@Html.TextBox("txtFiltroCriterioNombre", null, new { size = "10", onkeyup = "filtrarCriterioEditar(event);", @placeholder = "Criterio" })</td>
            </tr>
        </tfoot>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCriterio)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.DescCriterio)
                    </td>
                    
                    <td>
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                                data-select="true" data-target="#divCriterio"
                                data-json-selected='{"IdCriterio":" @item.IdCriterio ", "nombreCriterio": " @item.DescCriterio"}'>
                            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                        </button>

                    </td>
                </tr>
            }
            </tbody>
    </table>
