@using GB.SUTEL.Entities
@model  Tuple <ConstructorCriterioDetalleAgrupacion, List<Operador>>
        <input type="text" id="idConstructor" value="@Model.Item1.IdConstructor" hidden />
        <input type="text" id="idCriterio" value="@Model.Item1.IdCriterio" hidden />
        <table class="display" cellspacing="0" data-table-grid="true" data-table-grid-display-rows="10">
            <thead>
                <tr>

                    <th>

                    </th>
                    <th>
                        Operador
                    </th>


                    <th class="no-sort" style="min-width:40px;"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td></td>
                    <td colspan="2">@Html.TextBox("txtFiltroDetalleOperador", null, new { size = "10", onkeyup = "filtrarDetalleOperadorEditar(event);", @placeholder = "Operador" })</td>
                </tr>
            </tfoot>
            <tbody>
                @if (Model.Item2 != null && Model.Item2.Count() > 0)
                {
                    foreach (var item in Model.Item2)
                    {
                        <tr>
                            <td>
                                @Html.RadioButton("rbDetalle", @item.IdOperador, false, new { @value = "'" + @item.IdOperador + "'", onchange = "rbDetalleOperadorChange(this);" })
                                @*radio button change*@
                            </td>

                            @*<td onclick="functEditarArbolDetalleAgrupacion('@item.IdOperador','@item.NombreOperador')">*@
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreOperador)
                            </td>

                            <td>
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalSeleccionarClonarOperador"
                                        data-select="true" title="Clona el detalle de la agrupación de los Operadores que desee seleccionar."
                                        data-json-selected='{"idOperadorClonar":" @item.IdOperador"}'>
                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                </button>

                                <button type="button" class="btn btn-danger" aria-label="Left Align" data-toggle="modal" data-target="#modalDetalleAgrupacionEliminar"
                                        data-select="true" title="Eliminar"
                                        data-json-selected='{"IDOperadorEliminar":" @item.IdOperador ", "IDConstructor": " @Model.Item1.IdConstructor", "IDCriterio":"@Model.Item1.IdCriterio"}'>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>


                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        </br>
        </br>
        <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
           @if(@ViewBag.Error == null) {
         <button type="button" class="btn btn-success" alt="Modificar y Continuar" title="Modificar y Continuar" onclick="gSiguineteEditarDetalle();">Modificar y Continuar</button>
           }
            <button type="button" class="btn btn-danger " onclick="gLlamadaControles('@Url.Action("Index", "Constructor")', '');" title="Cancelar">Cancelar</button>
                </div>
                </div>    <!-- elcomentario-->



