@model GB.SUTEL.Entities.Constructor
<form id="formClonar" method="post"
      action="@Url.Action("Clonar")" data-ajax="true" data-ajax-target="#partialViewContent"
      data-ajax-message="Cargando datos ...">
    <div class="modal fade" id="modalClonarConstrutor">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Clonación de Constructor</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">


                        <div class="form-group">                            
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.IdConstructor, new { @id = "IDConstructorClonar" , @name = "id"})                                
                                <table border="0">
                                    <thead>
                                        <tr>
                                            <th colspan="2">¿Desea clonar constructor? </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td width="30%"><b>Cod. Indicador:</b></td>
                                            <td>
                                                <div id="txtCodIndicadorConstructorClonar">
                                                    @Html.DisplayFor(model => model.Indicador.NombreIndicador)
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Nombre:</b></td>
                                            <td>
                                                <div id="txtDescConstructorClonar">
                                                    <b>@Html.DisplayFor(model => model.Indicador.NombreIndicador)</b>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Frecuencia:</b></td>
                                            <td>
                                                <div id="txtFrecuenciaConstructorClonar">
                                                    <b>@Html.DisplayFor(model => model.Indicador.NombreIndicador)</b>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Desglose:</b></td>
                                            <td>
                                                <div id="txtDesgloseConstructorClonar">
                                                    <b>@Html.DisplayFor(model => model.Indicador.NombreIndicador)</b>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                            
                        </div>

                        <div class="alert alert-danger" hidden role="alert" id="divMensajeErroClonarConstructor">
                            <strong>Error!</strong>
                            <div id="idMensajeErrorCuerpoClonarConstructor"></div>
                        </div>

                        <div class="alert alert-success" hidden role="alert" id="divMensajeExitoClonarConstructor">
                            <strong>Éxito!</strong>
                            <div id="idMensajeExitoCuerpoClonarConstructor"></div>
                        </div>

                        <div class="modal-footer">
                            <input type="submit" value="Clonar" class="btn btn-success" id="btnClonarConstructor" alt="Clonar" title="Clonar" />
                            <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">Cancelar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">


    $(document).ready(function () {
        debugger;
        function onSuccess(data) {

            data = JSON.parse(data);
            if (data.ok == "True") {                
                // esperar y volver a ejecutar el refresh de la tabla por AJAX                
                $("#frmFiltroConstructor")[0].reset();
                $("#frmFiltroConstructor").submit();

                $("#btnClonarConstructor").hide();
                var idnewConstructor = data.data.IdConstructor;
                setTimeout(function () {
                    $("#divMensajeExitoClonarConstructor").show();
                    $("#idMensajeExitoCuerpoClonarConstructor").html("El constructor se clonó correctamente, puedes ingresar <a href='Constructor/Editar?id=" + idnewConstructor + "' class='alert-link'>aquí</a> para editarlo.");
                }, 700);
            } else {
                showError(data.strMensaje);
            }
        }
        function onFailure(error) {
            showError(error.responseText);
        }
        // pasa el id del form de crear
        // pasa la función a ejecutar si todo está bien
        // pasa la función a ejecutar si hay errores
        AjaxifyMyForm("formClonar",
            onSuccess,
            onFailure);
    });

    function showError(msg) {
        $("#divMensajeErroClonarConstructor").show();
        $("#idMensajeErrorCuerpoClonarConstructor").html(msg);
    }

    $('#modalClonarConstrutor').on('hidden.bs.modal', function (e) {
        $("#divMensajeExitoClonarConstructor").hide();
        $("#btnClonarConstructor").show();
    })

</script>









