@model GB.SUTEL.UI.Models.ConstructorViewModel
@using GB.SUTEL.Entities

<h4>@GB.SUTEL.Resources.EtiquetasMantenimiento.ttlAdministracionConstrutor</h4>
<h5>@GB.SUTEL.Resources.EtiquetasMantenimiento.ttlNuevo</h5>

<script type="text/javascript">
  
</script>

@if (@ViewBag.Error != null)
{
    <div class="alert alert-warning" role="alert">
        <strong>Alerta!</strong> @ViewBag.Error
    </div>
}

@if (@TempData["Error"] != null)
{
    <div class="alert alert-warning" role="alert">
        <strong>Alerta!</strong> @TempData["Error"]
    </div>
}


@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div id="constructorTab" role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#indicador" aria-controls="indicador" role="tab" data-toggle="tab">Indicador</a></li>    
    </ul>

    <!-- Tab panes -->
    <div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="indicador">
                <form method="post" action="@Url.Action("Crear")" >
                    <br />

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true)
                       

                            <div class="form-group">
                                @Html.Label("Dirección", new { @id = "txtDireccion", @class = "control-label col-md-2" })
                                <div class="col-md-10">


                                    @Html.DropDownListFor(model => model.constructor.IdDireccion,
                                      new SelectList(Model.listaDireccion,
                            "IdDireccion", "Nombre"),
                                                                        "Seleccione", new { @id = "ddlDireccion", @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.constructor.IdDireccion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="divIndicador">
                                @Html.Label("Indicador", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="input-group" style="width:350px;">
                                        @Html.TextAreaFor(model => model.constructor.Indicador.NombreIndicador, new { @class = "form-control", @placeholder = "Indicador", @id = "nombreIndicadorCrear", disabled = true, @cols = "100", @rows = "3" })
                                        @Html.HiddenFor(model => model.constructor.IdIndicador, new { @id = "IdIndicadorCrear" })
                                        @Html.HiddenFor(model => model.constructor.IdConstructor, new { @id = "IdConstructor" })
                                        @Html.HiddenFor(model => model.constructor.IdDireccion, new { @id = "IdDireccion" })
                                      


                                        <span class="input-group-btn">
                                            <button class="btn btn-primary glyphicon glyphicon-search" type="button" title="Buscar indicador"
                                                    data-toggle="modal" data-target="#modalSeleccionarIndicador" id="btnBuscarIndicador"></button>
                                        </span>
                                        @Html.ValidationMessageFor(model => model.constructor.IdIndicador, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.constructor.IdFrecuencia, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.constructor.IdFrecuencia,
                                             new SelectList(Model.listaFrecuencia,
                                          "IdFrecuencia", "NombreFrecuencia"),
                                                               "Seleccione", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.constructor.IdFrecuencia, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.constructor.IdDesglose, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.constructor.IdDesglose,
                                             new SelectList(Model.listaFrecuencia,
                                          "IdFrecuencia", "NombreFrecuencia"),
                                                               "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.constructor.IdDesglose, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-1"></div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <input type="submit" value="Crear" class="btn btn-success" alt="Crear" title="Crear" />
                            <button type="button" class="btn btn-danger " onclick="gLlamadaControles('@Url.Action("Index", "Constructor")', '');" title="Cancelar">Cancelar</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>  
                </form>
            </div>
          
        </div>

        <div class="alert alert-danger" hidden role="alert" id="divMensajeErroCrearConstructor">
            <strong>Error!</strong>
            <div id="idMensajeErrorCuerpoConstructor"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="divMensaje">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cerrar">×</button>
                <h4 class="modal-title" id="tituloMensaje">Mensaje</h4>
            </div>
            <div class="modal-body" id="contenidoMensaje">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" title="Aceptar">Aceptar</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="modalSeleccionarIndicador">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cerrar">×</button>
                <h4 class="modal-title" id="tituloMensaje">Seleccionar Indicador</h4>
            </div>
            <div class="modal-body" id="contenidoSeleccionarIndicador">
                <div id="tablaIndicador">
                    @Html.Action("_tablaIndicador")
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts{
    @Scripts.Render("~/Scripts/Mantenimientos/Constructor/ConstructorGeneral.js")
    @Scripts.Render("~/Scripts/Mantenimientos/Constructor/ConstructorCrear.js")
   
    @*@Scripts.Render("~/Scripts/Mantenimientos/Constructor/ConstructorCheckBox.js")*@

    @Scripts.Render("~/Scripts/jsUtilidad.js")
}

