@model GB.SUTEL.UI.Models.ConstructorViewModel
@using GB.SUTEL.Entities

<h4>@GB.SUTEL.Resources.EtiquetasMantenimiento.ttlAdministracionConstrutor</h4>


<script type="text/javascript">

    var operadoresClonar = [];
    var Idoperador = "";
</script>
@if (@ViewBag.Error != null)
{
    <div class="alert alert-warning" role="alert">
        <strong>Alerta!</strong> @ViewBag.Error
    </div>
}
@if (@TempData["Error"] != null)
{
    <div class="alert alert-success" role="alert">
        <strong>Alerta!</strong> @TempData["Error"]
    </div>
}

@if (@TempData["Fail"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Alerta!</strong> @TempData["Fail"]
    </div>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li><a href="Editar?id=@Model.constructor.IdConstructor">Indicador</a></li>
        <li><a href="EditarCriterio?id=@Model.constructor.IdConstructor">Criterio</a></li>
        <li role="presentation" class="active"><a href="#operadores" aria-controls="operadores" role="tab" data-toggle="tab">Operadores</a></li>
        <li role="presentation" onclick="funcMostrarMensajeArbol();"><a>Árbol</a></li>
    </ul>

    <!-- Tab panes -->
    <div>
        <div class="tab-content">

            <div role="tabpanel" id="criterio" class="tab-pane active">
                <div class="panel-body">

                    <br />
                   @if(@ViewBag.Error == null) {
                    <h3><small>Agregar nuevo árbol</small> </h3>
                  
                    <div class="row">
                        <div class="col-xs-6 col-md-4"></div>
                        <div class="col-xs-6 col-md-4">
                         
                            <button class="btn btn-success btn-lg" type="button" alt="Crear Arbol" title="Agregar Nuevo Detalle Agrupación por Operador Asociados al Criterio" onclick="gsiguienteCrearDetalle();">
                                Agregar Detalle Agrupación por Operador     <span class="glyphicon glyphicon-tree-conifer"></span>
                            </button>
                          
                        </div>
                      
                        <div class="col-xs-6 col-md-4"></div>
                    </div>
                   }
                    <h3><small>Modificar árbol</small> </h3>
        
                    <h5>Detalles Agrupación por Operador Asociados al Criterio</h5>
                    <div id="divDetalleAgrupacionOperador">
                        @Html.Action("_tablaDetalleAgrupacionOperadorEditar")
                    </div>
                    <br />
                    <br />
                </div>

            </div>

        </div>
        <div class="alert alert-danger" hidden role="alert" id="divMensajeErroCrearConstructor">
            <strong>Error!</strong>
            <div id="idMensajeErrorCuerpoConstructor"></div>
        </div>
    </div>

</div>

<div class="modal fade" id="divMensaje">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">               
                <h4 class="modal-title" id="tituloMensaje">Mensaje</h4>
            </div>
            <div class="modal-body" id="contenidoMensaje">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" title="Aceptar" onclick="FunctionReload()">Aceptar</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="modalSeleccionarOperador">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cerrar">×</button>
                <h4 class="modal-title" id="tituloMensaje">Seleccionar Operador</h4>
            </div>
            <div class="modal-body" id="contenidoMensajeOperador">
                <div id="tablaOperador">
                    @Html.Action("_tablaOperador")
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalSeleccionarClonarOperador">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cerrar">×</button>
                <h4 class="modal-title" id="tituloMensaje">Seleccionar los operadores a copiar</h4>
            </div>
            <div class="modal-body" id="contenidoMensajeOperadorClonar">
                <div id="tablaOperadorClonarEditar">
                    @Html.Action("_tablaOperadorClonarEditar")
                </div>
                <div>
                    @Html.Hidden("idOperadorClonar")
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-offset-2 col-md-10">
                   @if(@ViewBag.Error == null) {
                    <button type="button" class="btn btn-success" title="Clonar" onclick="functClonarDetalleAgrupacionEditar();">Clonar</button>
                   }
                    <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">Cancelar</button>


                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->



<div>
    @Html.Partial("_detalleAgrupacionEliminarEditar", new ConstructorCriterioDetalleAgrupacion())
</div>


@section scripts{
    @Scripts.Render("~/Scripts/Mantenimientos/Constructor/ConstructorEditarCriterio.js")
    @Scripts.Render("~/Scripts/Mantenimientos/Constructor/ConstructorGeneral.js")
    @Scripts.Render("~/Scripts/jsUtilidad.js")
}

