@using GB.SUTEL.Entities
@model GB.SUTEL.UI.Models.ConstructorViewModel

<h4>@GB.SUTEL.Resources.EtiquetasMantenimiento.ttlAdministracionConstrutor</h4>

<p>
@if (GB.SUTEL.UI.Helpers.rolValidation.ValidateScreenFunctions(this.Context, "Constructor", "Crear"))
    {
    @Html.ActionLink("Nuevo", "Crear", "Constructor", null, new { @class = "btn btn-success" })
}
    <div id="tablaConstructor">
        @Html.Action("_table")
    </div>
    @if (Model != null && Model != null)
    {

        @Html.Partial("Eliminar", Model.constructor)
        @Html.Partial("Clonar", Model.constructor)
    }
    else
    {


        @Html.Partial("Eliminar", new Constructor())
    }

    <script>
        function onSuccessCreate() {
            var formId = "frmFiltroConstructor";
            $("#" + formId)[0].reset();
            $("#" + formId).submit();
        }
    </script>
    @section scripts{
        @Scripts.Render("~/Scripts/Mantenimientos/Constructor/ConstructorGeneral.js")
    }
