@using GB.SIMEF.Resources

<form>
    <div class="row">
        <div class="col-md-6 col-sm-10">
            <div class="form-group center">
                <label for="txtCodigoFormula" class="col-form-label">Código</label>
                <input type="text" class="form-control form-control-fonatel " id="txtCodigoFormula" placeholder="Código">
                <small id="txtCodigoFormulaHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
            </div>


            <div class="form-group center">
                <label for="ddlIndicadorFormulario" class="col-form-label ">Indicador de Salida</label>
                <div class="select2-wrapper">
                    <select class="form-control form-control-fonatel required listasDesplegables" aria-label="Default select example" id="ddlIndicadorFormulario">
                        <option></option>
                        <option value="1">IP1Tor Torres según estado</option>
                        <option value="2">IP1CPSP CPSP Conectados</option>
                        <option value="2">IP2Hog Hogares Beneficiarios</option>
                    </select>
                </div>


                <small id="ddlIndicadorFormularioHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
            </div>

            <div class="form-group center">
                <label for="ddlVariableFormulario" class="col-form-label ">Variable-Dato</label>
                <div class="select2-wrapper">
                    <select class="form-control form-control-fonatel required listasDesplegables" aria-label="Default select example" id="ddlVariableFormulario">
                        <option></option>
                        <option value="1">Torres según estado</option>>
                    </select>
                </div>

                <small id="ddlVariableFormularioHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
            </div>

            <div class="form-group center">
                <label for="ddlVariableFormulario" class="col-form-label ">Nivel de Cálculo</label>

                <label class="radio-inline" style="display: block;">
                    <input type="radio" id="radioTotal" name="nivelCalculo" value="">
                    Total
                </label>
                <label class="radio-inline mt-3" style="display: block;">
                    <input type="radio" id="radioCategoriaDesagregacion" name="nivelCalculo" value="">
                    Categoría de desagregación
                </label>

                <small id="ddlVariableFormularioHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
            </div>

        </div>

        <div class="col-md-6 col-sm-10">
            <div class="form-group center">
                <label for="txtNombreFormula" class="col-form-label">Nombre</label>
                <input type="text" class="form-control form-control-fonatel " id="txtNombreFormula" placeholder="Nombre">
                <small id="txtNombreFormulaHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
            </div>


            <div class="form-group center">
                <label for="ddlFrecuenciaFormulario" class="col-form-label">Frecuencia</label>
                <div class="select2-wrapper">
                    <select class="form-control form-control-fonatel required listasDesplegables" aria-label="Default select example" id="ddlFrecuenciaFormulario">
                        <option></option>
                        <option value="1">Mensual</option>
                        <option value="2">Trimestral</option>
                    </select>
                </div>


                <small id="ddlFrecuenciaFormularioHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
            </div>

            <div class="form-group center">
                <label for="txtDescripcionFormula" class="col-form-label">Descripción</label>

                <textarea id="txtDescripcionFormula" class="form-control form-control-fonatel" placeholder="Descripción"></textarea>
                <small id="txtDescripcionFormulaHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>

            </div>

            <div class="form-group center" style="display: none;" id="divInputCategoriaDesagregacion">
                <label for="ddlCategoriaDesagregacion" class="col-form-label ">Categoría de Desagregación</label>
                <div class="select2-wrapper">
                    <select multiple class="form-control form-control-fonatel required listasDesplegables" aria-label="Default select example" id="ddlCategoriaDesagregacion">
                        <option></option>
                        <option value="1">Categoria 1</option>
                        <option value="1">Categoria 2</option>
                        <option value="1">Categoria 3</option>
                        <option value="1">Categoria 4</option>
                        <option value="1">Categoria 5</option>
                        <option value="1">Categoria 6</option>
                    </select>
                </div>

                <small id="ddlCategoriaDesagregacion" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
            </div>
        </div>
    
        </div>
        <div class="row mt-5">
            <div class="col-sm-12 text-center">
                <button type="submit" id="btnGuardarFormulaCalculo" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
                <button type="submit" id="btnSiguienteFormulaCalculo" class="btn btn-fonatel btn-next-fonatel">@Etiquetas.BotonSiguiente</button>
                <button type="submit" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
            </div>
        </div>
</form>

