@using GB.SIMEF.Resources
@model GB.SIMEF.Entities.FormulasCalculo

<form id="formCrearFormula"> @*autocomplete="off"*@
    <div class="row">
        <div class="col-md-6 col-sm-10">
            <div class="form-group center">
                <label for="txtCodigoFormula" class="col-form-label">@EtiquetasViewFormulasCalculo.CrearFormula_LabelCodigo</label>
                @Html.EditorFor(model => Model.Codigo, new { htmlAttributes = new { 
                                                                @class = "form-control form-control-fonatel alfa_numerico", 
                                                                id = "txtCodigoFormula", 
                                                                placeholder = EtiquetasViewFormulasCalculo.CrearFormula_LabelCodigo,
                                                                maxlength = 30
                } })
                <small id="txtCodigoFormulaHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>

            <div class="form-group center">
                <label for="txtNombreFormula" class="col-form-label">@EtiquetasViewFormulasCalculo.CrearFormula_LabelNombre</label>
                @Html.EditorFor(model => Model.Nombre, new { htmlAttributes = new { 
                                                                @class = "form-control form-control-fonatel solo_texto", 
                                                                id = "txtNombreFormula", 
                                                                placeholder = EtiquetasViewFormulasCalculo.CrearFormula_LabelNombre,
                                                                maxlength = 300
                } })
                <small id="txtNombreFormulaHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>

            <div class="form-group center">
                <label for="ddlFrecuenciaFormulario" class="col-form-label">@EtiquetasViewFormulasCalculo.CrearFormula_LabelFrecuencia</label>
                <div class="select2-wrapper">
                    @Html.DropDownListFor(model => Model.IdFrecuenciaString, 
                                                    new SelectList(ViewBag.FrecuenciaEnvio, "id", "Nombre"), 
                                                    Etiquetas.PlaceholderDropDown,
                                                    new { @class = "listasDesplegables", id = "ddlFrecuenciaFormulario" })
                </div>
                <small id="ddlFrecuenciaFormularioHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>

            <div class="form-group center">
                <label for="txtFechaCalculo" class="col-form-label">@EtiquetasViewFormulasCalculo.CrearFormula_LabelFechaCalculo</label>
                @Html.EditorFor(model => Model.FechaCalculo, new { htmlAttributes = new { @class = "form-control form-control-fonatel", id = "txtFechaCalculo" } })
                <small id="txtFechaCalculoHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>

            <div class="form-group center">
                <label for="txtDescripcionFormula" class="col-form-label">@EtiquetasViewFormulasCalculo.CrearFormula_LabelDescripcion</label>
                @Html.EditorFor(model => Model.Descripcion, new { htmlAttributes = new { 
                                                                    @class = "form-control form-control-fonatel solo_texto", 
                                                                    id = "txtDescripcionFormula",
                                                                    placeholder = EtiquetasViewFormulasCalculo.CrearFormula_LabelDescripcion,
                                                                    maxlength = 1500
                } })
                <small id="txtDescripcionFormulaHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

        <div class="col-md-6 col-sm-10">
            <div class="form-group center">
                <label for="ddlIndicadorFormulario" class="col-form-label ">@EtiquetasViewFormulasCalculo.CrearFormula_LabelIndicadorSalida</label>
                <div class="select2-wrapper">
                    @*@Html.DropDownListFor(model => Model.IdIndicador, new SelectList(ViewBag.IndicadorSalida, "id", "Nombre"), "Seleccione", new { @class = "listasDesplegables", id = "ddlIndicadorFormulario" })*@
                    @Html.DropDownListFor(model => Model.IdIndicadorSalidaString, 
                                                    new SelectList(ViewBag.IndicadorSalida, "id", "Nombre"), 
                                                    Etiquetas.PlaceholderDropDown, 
                                                    new { @class = "listasDesplegables", id = "ddlIndicadorFormulario" })
                </div>
                <small id="ddlIndicadorFormularioHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>

            <div class="form-group center">
                <label for="ddlVariableFormulario" class="col-form-label ">@EtiquetasViewFormulasCalculo.CrearFormula_LabelVariableDato</label>
                <div class="select2-wrapper">                    
                    @*@Html.DropDownListFor(model => Model.IdIndicadorVariable, new SelectList(ViewBag.VariableIndicador, "id", "NombreVariable"), "Seleccione", new { @class = "listasDesplegables", id = "ddlVariableFormulario" })*@
                    @*Enumerable.Empty<SelectListItem>()*@
                    @Html.DropDownListFor(model => Model.IdVariableDatoString, 
                                                    new SelectList(ViewBag.VariablesDato, "id", "NombreVariable"),
                                                    Etiquetas.PlaceholderDropDown,
                                                    new { @class = "listasDesplegables", id = "ddlVariableDatoFormula" })
                </div>
                <small id="ddlVariableDatoFormulaHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>

            <div class="form-group center">
                <label for="ddlVariableFormulario" class="col-form-label ">@EtiquetasViewFormulasCalculo.CrearFormula_LabelNivelCalculo</label>
                <label class="radio-inline" style="display: block;">
                    @*<input type="radio" id="radioTotal" name="nivelCalculo" value="">*@
                    
                    @{ 
                        var htmlAttributesTotal = new Dictionary<string, object>
                        {{ "id", "radioTotal" }};

                        if (@Model.NivelCalculoTotal)
                        {
                            htmlAttributesTotal.Add("checked", true);
                        }
                    }

                    @Html.RadioButtonFor(model => model.NivelCalculoTotal, "nivelCalculo", htmlAttributesTotal)
                    @EtiquetasViewFormulasCalculo.CrearFormula_LabelNivelCalculoTotal
                </label>
                <label class="radio-inline mt-3" style="display: block;">
                    @*<input type="radio" id="radioCategoriaDesagregacion" name="nivelCalculo" value="">*@

                    @{
                        var htmlAttributesCategoria = new Dictionary<string, object>
                        {{ "id", "radioCategoriaDesagregacion" }};

                        if (!@Model.NivelCalculoTotal)
                        {
                            htmlAttributesCategoria.Add("checked", true);
                        }
                    }

                    @Html.RadioButtonFor(model => model.NivelCalculoTotal, "nivelCalculo", htmlAttributesCategoria)
                    @EtiquetasViewFormulasCalculo.CrearFormula_LabelNivelCalculoCategoria
                </label>
                <small id="radioNivelCalculoHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>

            <div class="form-group center" style="@(@Model.NivelCalculoTotal?"display: none;":"display: block;")" id="divInputCategoriaDesagregacion">
                <label for="ddlCategoriaDesagregacion" class="col-form-label ">@EtiquetasViewFormulasCalculo.CrearFormula_LabelCategoriaDesagregacion</label>
                <div class="select2-wrapper">
                    @Html.DropDownListFor(model => Model.IdIndicadorVariable,
                                                    new SelectList(ViewBag.CategoriasDeIndicador, "id", "NombreCategoria"),
                                                    new { @class = "required listasDesplegables multiple-Select", id = "ddlCategoriaDesagregacion", multiple="multiple", placeholder= Etiquetas.PlaceholderDropDown })
                </div>
                <small id="ddlCategoriaDesagregacionHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-sm-12 text-center">
            @{
                string idBtnGuardar = string.Empty, idBtnSiguiente = string.Empty;
                string modoFormulario = ViewBag.ModoFormulario;

                if (modoFormulario.Equals(((int)Constantes.Accion.Insertar).ToString()))
                {
                    idBtnGuardar = "btnGuardarFormulaCalculo";
                    idBtnSiguiente = "btnSiguienteFormulaCalculo";
                }
                else if (modoFormulario.Equals(((int)Constantes.Accion.Editar).ToString()))
                {
                    idBtnGuardar = "btnGuardarEditarFormulaCalculo";
                    idBtnSiguiente = "btnSiguienteEditarFormulaCalculo";
                }
                else if (modoFormulario.Equals(((int)Constantes.Accion.Clonar).ToString()))
                {
                    idBtnGuardar = "btnGuardarClonarFormulaCalculo";
                    idBtnSiguiente = "btnSiguienteClonarFormulaCalculo";
                }

            }

            <button type="button" id="@idBtnGuardar" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
            <button type="button" id="@idBtnSiguiente" class="btn btn-fonatel btn-next-fonatel">@Etiquetas.BotonSiguiente</button>
            <button type="button" id="btnCancelarFormula" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
        </div>
    </div>
</form>

