@using GB.SIMEF.Resources;

@Html.Partial("_ModalFechaFormulaCalculo")

@{
    var modoVisualizacion = Html.Raw("");

    if (ViewBag.ModoFormulario.Equals(((int)Constantes.Accion.Visualizar).ToString()))
    {
        modoVisualizacion = Html.Raw("disabled");
    }
}

<div class="row divFormulaCalculo">

    <div class="operaciones col-lg-7 col-md-9 col-md-9 col-xs-9">
        <div class="row">
            <div class="col text-center">
                <h4 class="text-leftThe">@EtiquetasViewFormulasCalculo.GestionFormulas_LabelFormulaCalculo</h4>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="button" id="btnCalendario" class="btn-icon-base-bg btn-white btn-calendar" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionCalendario" @modoVisualizacion></button>
                <button type="button" id="btnSumar" class="btn-icon-base-bg btn-white btn-addition" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionSuma" @modoVisualizacion></button>
                <button type="button" id="btnRestar" class="btn-icon-base-bg btn-white btn-subtraction" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionResta" @modoVisualizacion></button>
                <button type="button" id="btnMultiplicar" class="btn-icon-base-bg btn-white btn-multiplication" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionMultiplicacion" @modoVisualizacion></button>
                <button type="button" id="btnDividir" class="btn-icon-base-bg btn-white btn-division" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionDivision" @modoVisualizacion></button>
                <button type="button" id="btnMenorQue" class="btn-icon-base-bg btn-white btn-less-than" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionMenorQue" @modoVisualizacion></button>
                <button type="button" id="btnMayorQue" class="btn-icon-base-bg btn-white btn-greater-than" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionMayorQue" @modoVisualizacion></button>
                <button type="button" id="btnMenorIgualQue" class="btn-icon-base-bg btn-white btn-less-than-or-equal-to" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionMenorIgualQue" @modoVisualizacion></button>
                <button type="button" id="btnMayorIgualQue" class="btn-icon-base-bg btn-white btn-greater-than-or-equal-to" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionMayorIgualQue" @modoVisualizacion></button>
                <button type="button" id="btnIgualQue" class="btn-icon-base-bg btn-white btn-equal-to" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionIgualQue" @modoVisualizacion></button>
                <button type="button" id="btnParentesisAbrierto" class="btn-icon-base-bg btn-white btn-parentheses-open" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionParentesisAbierto" @modoVisualizacion></button>
                <button type="button" id="btnParentesisCerrado" class="btn-icon-base-bg btn-white btn-parentheses-close" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.OperacionParentesisCerrado" @modoVisualizacion></button>
            </div>
        </div>
    </div>

    <div class="acciones col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <div class="row">
            <div class="col text-center">
                <h4 class="text-leftThe">@Etiquetas.Acciones</h4>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="button" id="btnEjecutarFormula" class="btn-icon-base-bg btn-white btn-reload" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.AccionEjecutarFormula" @modoVisualizacion></button>
                <button type="button" id="btnRemoverItemFormula" class="btn-icon-base-bg btn-white btn-delete" data-toggle="tooltip" data-placement="top" title="" data-original-title="@EtiquetasViewFormulasCalculo.AccionEliminarItem" @modoVisualizacion></button>
            </div>
        </div>
    </div>

    <div class="formula col-lg-9 col-md-11 col-sm-12 mt-4 mb-1 text-center">
        <input class="form-control form-control-fonatel editable" @modoVisualizacion />
    </div>

</div>


