@using GB.SIMEF.Resources;

<div class="modal fade modal-fonatel" data-backdrop="static" id="modalFechaFormulaCalculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fonatel" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title" id="titulo_modalFechaFormulaCalculo">@EtiquetasViewFormulasCalculo.ModalFecha_Titulo</h5>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group center">
                            <label class="col-form-label ">@EtiquetasViewFormulasCalculo.ModalFecha_LabelUnidad</label>

                            <label class="radio-inline" style="display: block;">
                                @{ 
                                    var htmlAttributesTotal = new Dictionary<string, object>
                                    {
                                        { "id", "radioDias_modalFechaFormula" },
                                        { "checked", true } /*valor default*/
                                    };
                                }

                                @Html.RadioButton("radiosUnidadDeMedidaModalFormula", (int)Constantes.UnidedMedidaDefinicionFechasFormulas.dias, htmlAttributesTotal)
                                @EtiquetasViewFormulasCalculo.ModalFecha_RadioDias
                            </label>
                            <label class="radio-inline mt-3" style="display: block;">
                                @{
                                    htmlAttributesTotal = new Dictionary<string, object>
                                    {
                                        { "id", "radioMeses_modalFechaFormula" }
                                    };
                                }

                                @Html.RadioButton("radiosUnidadDeMedidaModalFormula", (int)Constantes.UnidedMedidaDefinicionFechasFormulas.meses, htmlAttributesTotal)
                                @EtiquetasViewFormulasCalculo.ModalFecha_RadioMeses
                            </label>
                            <label class="radio-inline mt-3" style="display: block;">
                                @{
                                    htmlAttributesTotal = new Dictionary<string, object>
                                    {
                                        { "id", "radioAnios_modalFechaFormula" }
                                    };
                                }

                                @Html.RadioButton("radiosUnidadDeMedidaModalFormula", (int)Constantes.UnidedMedidaDefinicionFechasFormulas.anios, htmlAttributesTotal)
                                @EtiquetasViewFormulasCalculo.ModalFecha_RadioAnios
                            </label>
                        </div>
                        <div class="form-group center">
                            <label for="ddlTipoFechaInicioModalFechaFormula" class="col-form-label ">@EtiquetasViewFormulasCalculo.ModalFecha_LabelTipoFechaInicio</label>
                            <div class="select2-wrapper">
                                @{
                                    var htmlAttrFuenteIndicador = new Dictionary<string, object>
                                    {
                                        { "id", "ddlTipoFechaInicioModalFechaFormula" },
                                        { "class", "listasDesplegables" }
                                    };
                                }
                                @Html.DropDownList("tipoFechaInicio", new SelectList(ViewBag.TiposFechaInicioModalFecha, "id", "Nombre"),
                                                                Etiquetas.PlaceholderDropDown, htmlAttrFuenteIndicador)
                            </div>
                            <small id="ddlTipoFechaInicioModalFechaFormulaHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
                        </div>

                        <div class="form-group center hidden" id="divFechaInicioFormulaCalculo">
                            <label for="txtFechaInicioModalDefinicion" class="col-form-label">@EtiquetasViewFormulasCalculo.ModalFecha_LabelFechaInicio</label>
                            @{
                                var htmlAttrFechaInicioCalculo = new Dictionary<string, object>
                                {
                                    { "class", "form-control form-control-fonatel" },
                                    { "id", "txtFechaInicioModalDefinicion" },
                                    { "type", "date" }
                                };
                            }
                            @Html.Editor("fechaInicioCalculo", new { htmlAttributes = htmlAttrFechaInicioCalculo })
                            <small id="txtFechaInicioModalDefinicionHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
                        </div>

                        <div class="form-group center hidden" id="divCategoriaFechaInicioFormulaCalculo">
                            <label for="ddlCategoriasFechaInicio" class="col-form-label ">@EtiquetasViewFormulasCalculo.ModalFecha_LabelCategoriasTipoFecha</label>
                            <div class="select2-wrapper">
                                @{
                                    htmlAttrFuenteIndicador = new Dictionary<string, object>
                                    {
                                        { "id", "ddlCategoriasFechaInicio" },
                                        { "class", "listasDesplegables" }
                                    };
                                }
                                @Html.DropDownList("categoriaTipoFechaInicio", new SelectList(ViewBag.CategoriasTipoFechaInicioModalFecha, "id", "Nombre"),
                                                                Etiquetas.PlaceholderDropDown, htmlAttrFuenteIndicador)
                            </div>
                            <small id="ddlCategoriasFechaInicioHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
                        </div>

                        <div class="form-group center">
                            <label for="ddlTipoFechaFinalModalFechaFormula" class="col-form-label ">@EtiquetasViewFormulasCalculo.ModalFecha_LabelTipoFechaFinal</label>
                            <div class="select2-wrapper">
                                @{
                                    htmlAttrFuenteIndicador = new Dictionary<string, object>
                                    {
                                        { "id", "ddlTipoFechaFinalModalFechaFormula" },
                                        { "class", "listasDesplegables" }
                                    };
                                }
                                @Html.DropDownList("tipoFechaInicio", new SelectList(ViewBag.TiposFechaFinalModalFecha, "id", "Nombre"),
                                                                Etiquetas.PlaceholderDropDown, htmlAttrFuenteIndicador)
                            </div>
                            <small id="ddlTipoFechaFinalModalFechaFormulaHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
                        </div>

                        <div class="form-group center hidden" id="divFechaFinalFormulaCalculo">
                            <label for="txtFechaFinalModalDefinicion" class="col-form-label">@EtiquetasViewFormulasCalculo.ModalFecha_LabelFechaFinal</label>
                            @{ 
                                var htmlAttrFechaFinalCalculo = new Dictionary<string, object>
                                {
                                    { "class", "form-control form-control-fonatel" },
                                    { "id", "txtFechaFinalModalDefinicion" },
                                    { "type", "date" }
                                };
                            }
                            @Html.Editor("fechaFinalCalculo", new { htmlAttributes = htmlAttrFechaFinalCalculo })
                            <small id="txtFechaFinalModalDefinicionHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
                        </div>

                        <div class="form-group center hidden" id="divCategoriaFechaFinalFormulaCalculo">
                            <label for="ddlCategoriasFechaFinal" class="col-form-label ">@EtiquetasViewFormulasCalculo.ModalFecha_LabelCategoriasTipoFecha</label>
                            <div class="select2-wrapper">
                                @{
                                    htmlAttrFuenteIndicador = new Dictionary<string, object>
                                    {
                                        { "id", "ddlCategoriasFechaFinal" },
                                        { "class", "listasDesplegables" }
                                    };
                                }
                                @Html.DropDownList("categoriaTipoFechaFinal", new SelectList(ViewBag.CategoriasTipoFechaFinalModalFecha, "id", "Nombre"),
                                                                Etiquetas.PlaceholderDropDown, htmlAttrFuenteIndicador)
                            </div>
                            <small id="ddlCategoriasFechaFinalHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="submit" id="btnGuardar_modalFechaFormulaCalculo" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
                    <button type="submit" id="btnCancelar_modalFechaFormulaCalculo" class="btn btn-fonatel btn-error-fonatel" data-dismiss="modal">@Etiquetas.BotonCancelar</button>
                    <button type="submit" id="btnEliminar_modalFechaFormulaCalculo" class="btn btn-fonatel btn-warning-fonatel">@Etiquetas.BotonEliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>

