@using GB.SIMEF.Resources;

<div class="modal fade modal-fonatel" data-backdrop="static" id="modalFormulaDetalleAgregacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fonatel" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title" id="titulo_modalDetalleFormulaCalculo">@EtiquetasViewFormulasCalculo.ModalDetalle_Titulo</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12" id="divCategoria_ModalDetalle">
                        <div class="form-group center">
                            <label for="ddlCategoria_ModalDetalle" class="col-form-label">@EtiquetasViewFormulasCalculo.ModalDetalle_LabelCategoria</label>
                            <div class="select2-wrapper">
                                @{
                                    var htmlAttrFuenteIndicador = new Dictionary<string, object>
                                    {
                                        { "id", "ddlCategoria_ModalDetalle" },
                                        { "class", "listasDesplegables" }
                                    };
                                }
                                @Html.DropDownList("categoria", new SelectList(ViewBag.CategoriasModalDetalle, "id", "Categoria"),
                                                                Etiquetas.PlaceholderDropDown, htmlAttrFuenteIndicador)
                            </div>
                            <small id="ddlCategoria_ModalDetalleHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
                        </div>
                    </div>

                    <div class="col-sm-12" id="divCriterio_ModalDetalle">
                        <div class="form-group center">
                            <label for="ddlCriterio_ModalDetalle" class="col-form-label">@EtiquetasViewFormulasCalculo.ModalDetalle_LabelCriterio</label>
                            <div class="select2-wrapper">
                                @{
                                    htmlAttrFuenteIndicador = new Dictionary<string, object>
                                    {
                                        { "id", "ddlCriterio_ModalDetalle" },
                                        { "class", "listasDesplegables" }
                                    };
                                }
                                @Html.DropDownList("criterio", new SelectList(ViewBag.CriteriosModalDetalle, "id", "Criterio"),
                                                                Etiquetas.PlaceholderDropDown, htmlAttrFuenteIndicador)
                            </div>
                            <small id="ddlCriterio_ModalDetalleHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group center">
                            <label for="ddlDetalle_ModalDetalle" class="col-form-label">@EtiquetasViewFormulasCalculo.ModalDetalle_LabelDetalle</label>
                            <div class="select2-wrapper">
                                @{
                                    htmlAttrFuenteIndicador = new Dictionary<string, object>
                                    {
                                        { "id", "ddlDetalle_ModalDetalle" },
                                        { "class", "listasDesplegables" }
                                    };
                                }
                                @Html.DropDownList("detalleCategoria", new SelectList(ViewBag.DetallesModalDetalle, "id", "Detalle"),
                                                                Etiquetas.PlaceholderDropDown, htmlAttrFuenteIndicador)
                            </div>
                            <small id="ddlDetalle_ModalDetalleHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="submit" id="btnGuardar_modalDetalle" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
                    <button type="submit" id="btnEliminar_modalDetalle" class="btn btn-fonatel btn-warning-fonatel">@Etiquetas.BotonEliminar</button>
                    <button type="submit" class="btn btn-fonatel btn-error-fonatel" data-dismiss="modal">@Etiquetas.BotonCancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
