@using GB.SIMEF.Resources;

<div class="table-responsive table-wrapper-fonatel">

    <table id="tablaFormulasDetalle" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewFormulasCalculo.CrearFormula_LabelCodigo</th>
                <th scope="col">@EtiquetasViewFormulasCalculo.CrearFormula_LabelNombre</th>
                <th scope="col">@EtiquetasViewFormulasCalculo.CrearFormula_LabelDescripcion</th>
                <th scope="col">@Etiquetas.Estado</th>
                <th class="noExport">@Etiquetas.Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
            </tr>

        </tfoot>

    </table>

</div>

