@using GB.SIMEF.Resources;

<div class="table-responsive table-wrapper-fonatel">
    <table id="tablaDetallesIndicador" class="dataTable datatable_simef table-bordered table-condensed table-hover no-footer">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewFormulasCalculo.TablaIndicadores_ColumnaCodigo</th>
                <th scope="col">@EtiquetasViewFormulasCalculo.TablaIndicadores_ColumnaNombre</th>
                <th scope="col">@EtiquetasViewFormulasCalculo.TablaIndicadores_ColumnaValorTotal</th>
                <th id="columnaDetalleTabla" scope="col">@EtiquetasViewFormulasCalculo.TablaIndicadores_ColumnaDetalles</th>
                <th scope="col">@Etiquetas.Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>







