@using GB.SIMEF.Resources;

@{
    ViewBag.Title = EtiquetasViewFormulasCalculo.TituloPantalla;
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

<script>
    const consultasFonatel = @ViewBag.ConsultasFonatel;
</script>

@section scripts {
    @Scripts.Render("~/bundles/FONATEL/FormulaCalculo")
}

<style>
    @@media (min-width: 1202px) {
        .columna-acciones {
            width: 220px
        }
}
</style>

<div class="container body-content">
    <input type="hidden" id="ansy7o9dc">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">@EtiquetasViewFormulasCalculo.TituloIndex</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-4">
            <h2 class="page-title-fonatel text-center">@EtiquetasViewFormulasCalculo.TituloIndex</h2>
            <hr />
        </div>
        <div class="col-lg-12 mt-4">
            <a class="btn btn-fonatel btn-success-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonCrear" alt="@Etiquetas.BotonCrear" href="@Url.Action("Create","FormulaCalculo")">@Etiquetas.BotonCrear</a>
            <button type="button" id="btnEjecutarFormulasActivas" class="btn btn-fonatel btn-pink-fonatel" data-toggle="tooltip" data-placement="top" title="@EtiquetasViewFormulasCalculo.BotonEjecutarFormulasActivas" alt="@EtiquetasViewFormulasCalculo.BotonEjecutarFormulasActivas" disabled>@EtiquetasViewFormulasCalculo.BotonEjecutarFormulasActivas</button>
        </div>
        <div class="col-lg-12 mt-4">
            @Html.Partial("_TablaFormulas")
        </div>
    </div>

</div>
