@using BotDetect.Web.Mvc;
@model  GB.SUTEL.Entities.Usuario
@Styles.Render("~/Content/Login/source.css")
@Styles.Render(@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl)
</br>

<form id="LoginForm" method="post" 
      action="@Url.Action("Index")" data-ajax="true"
      data-ajax-message="Ingresando...">
    <h3 class="identi-header">Acceso al sistema sistema</h3>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @*Clave*@
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon glyphicon glyphicon-user"></div>
            <input type="text" name="AccesoUsuario" id="AccesoUsuario" class="form-control" placeholder="Usuario" />
        </div>
    </div>
    @*Repetir Clave*@   
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon glyphicon glyphicon-lock"></div>            
            <input type="password" name="Contrasena" id="Contrasena" class="form-control" placeholder="Contrase&ntilde;a" />             
        </div>
        <div class="passForgotten">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#modalCambiarClave">&iquest;Olvid&oacute; su contrase&ntilde;a?</a>
        </div>
    </div>     
    @*validation*@
    <div class="form-group">
        <div class="alert alert-warning" role="alert" hidden>@GB.SUTEL.Resources.Resources.CapsLock</div>
        <div class="alert alert-danger" role="alert" hidden></div>
    </div>
    @*Modificado por:     Kevin Hernández Arias
      Fecha Modificación: 31/01/2018
      Detalle:            Cambio de Captcha*@
    <center>
        <div class="table-responsive" style="border:hidden;">
            @{ 
                MvcCaptcha loginCaptcha = new MvcCaptcha("LoginCaptcha");
                loginCaptcha.UserInputID = "LoginCaptchaCode";
             }
            @Html.Captcha(loginCaptcha)
            @Html.TextBox("LoginCaptchaCode")
        </div>
    </center>
    <div class="form-group" style="margin-top:10px;">
        <div class="col-md-offset-7">
            <input type="submit" class="btn btn-success" value="Ingresar" title='@GB.SUTEL.Resources.Resources.LogOn' />
        </div>
        <div class="text-right" style="padding:2%">
            <small class="text-info">Versi&oacuten:@System.Configuration.ConfigurationManager.AppSettings["VersionSistema"].ToString()</small>
        </div>
    </div>
</form>


@Html.Partial("_ResetPassword")
@section scripts{
    @*<script src="https://www.google.com/recaptcha/api.js" async defer></script>*@
    @Scripts.Render("~/Scripts/Login/source.js")
    @Scripts.Render("~/Scripts/Login/jquery.capslockstate.js")
    <script>
        jQuery.extend(jQuery.validator.messages, {
            email: "@GB.SUTEL.Entities.Metadata.EntityErrors.EmailAddress"
        });
</script>
}
