@using GB.SIMEF.Resources;
<div class="table-responsive table-wrapper-fonatel">

    <table id="TablaDetalleTexto" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewGestionTextoSIGITEL.Orden</th>
                <th scope="col">@EtiquetasViewGestionTextoSIGITEL.TipoDetalle</th>
                <th scope="col">@Etiquetas.Acciones</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model.DetalleFuenteRegistro)
        {
            <tr>
                <th scope="row">@item.NombreDestinatario</th>
                <td>@item.CorreoElectronico</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="@item.idDetalleFuenteRegistro" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="@item.idDetalleFuenteRegistro" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
        }*@
        </tbody>

    </table>

</div>


