@using GB.SIMEF.Resources;

@{
    ViewBag.Title = "Editar detalle gestión de texto SIGITEL";
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

@section scripts {
    @*@Scripts.Render("~/bundles/FONATEL/Fuentes")*@
}

<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                    <li class="breadcrumb-item active"><a href="/Fonatel/GestionTextoSIGITEL/index">@EtiquetasViewGestionTextoSIGITEL.GestionTextoSIGITEL</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@EtiquetasViewGestionTextoSIGITEL.EditarDetalleGestionTexto</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="row">
    <div>
        <h2 class="page-title-fonatel text-center">@EtiquetasViewGestionTextoSIGITEL.EditarDetalleGestionTexto</h2>
        <hr />
    </div>
    <div class="col-lg-12">
        @Html.Partial("_CrearDetalle")
    </div>
    <div class="col-lg-12 mt-4">
        @Html.Partial("_TablaDetalle")
    </div>

    <div class="col-sm-12 text-center">
        <button type="submit" id="btnFinalizarDetalle" class="btn btn-fonatel btn-info-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonFinalizar">@Etiquetas.BotonFinalizar</button>
    </div>
</div>

<script src="~/Scripts/Fonatel/JsGestionTextoSIGITEL.js"></script>
