@using GB.SIMEF.Resources;

@model GB.SIMEF.Entities.DetalleIndicadorVariables

<form id="formCrearVariable">
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="form-group center">
                <label for="inputNombreVariable" class="col-form-label">@EtiquetasViewIndicadorFonatel.CrearVariable_LabelNombreVariable</label>
                @Html.EditorFor(model => model.NombreVariable, new { htmlAttributes = new { @class = "form-control form-control-fonatel alfa_numerico_v2", placeholder = EtiquetasViewIndicadorFonatel.CrearVariable_LabelNombreVariable, id = "inputNombreVariable" } })
                <small id="inputNombreVariableHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group center">
                <label for="inputDescripcionVariable" class="col-form-label">@EtiquetasViewIndicadorFonatel.CrearVariable_LabelDescripcionVariable</label>
                @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control form-control-fonatel", placeholder = EtiquetasViewIndicadorFonatel.CrearVariable_LabelDescripcionVariable, id = "inputDescripcionVariable" })
                <small id="inputDescripcionVariableHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-lg-12 text-center">
            <button type="button" id="btnGuardarVariable" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
            <button type="button" id="btnSiguienteVariable" class="btn btn-fonatel btn-next-fonatel">@Etiquetas.BotonSiguiente</button>
            <button type="button" id="btnCancelarIndicador"  class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
        </div>
    </div>
</form>
