@using GB.SIMEF.Resources;

<form>
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="form-group center">
                <label for="ddlCategoríaIndicador" class="col-form-label ">@EtiquetasViewIndicadorFonatel.CrearCategoria_LabelCategoriaIndicador</label>
                <div class="select2-wrapper">
                    <select class="listasDesplegables" aria-label="Default select example" id="ddlCategoríaIndicador">
                        <option></option>
                        <option value="1">Provincia</option>
                        <option value="2">Cantón</option>

                    </select>
                </div>
                <small id="ddlCategoríaHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group center">
                <label for="ddlCategoríaDetalleIndicador" class="col-form-label ">@EtiquetasViewIndicadorFonatel.CrearCategoria_LabelDetalleIndicador</label>
                <div class="select2-wrapper">
                    <select class="listasDesplegables" multiple aria-label="Default select example" id="ddlCategoríaDetalleIndicador">
                        <option></option>
                        <option value="1">San jose</option>
                        <option value="2">Limón</option>
                        <option value="2">Cartago</option>

                        <option value="1">Guanacaste</option>
                        <option value="2">Heredía</option>
                        <option value="2">Puntarenas</option>
                    </select>

                </div>
                <small id="ddlCategoríaDetalleHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
            </div>
        </div>


    </div>
    <div class="row mt-5">
        <div class="col-lg-12 text-center">

            <button type="submit" id="btnGuardarCategoría" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
            <button type="submit" id="btnCancelarIndicador" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>

        </div>
    </div>
</form>
