@using GB.SIMEF.Resources;

<form id="formCrearCategoria">
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="form-group center">
                <label for="ddlCategoriaIndicador" class="col-form-label ">@EtiquetasViewIndicadorFonatel.CrearCategoria_LabelCategoriaIndicador</label>
                <div class="select2-wrapper">
                    @*@Html.DropDownListFor(model => model.idCategoria, Enumerable.Empty<SelectListItem>(), "Seleccione", new { @class = "listasDesplegables", id = "ddlCategoriaIndicador" })*@
                    <select class="listasDesplegables" aria-label="Categorías de Desagregación" id="ddlCategoriaIndicador">
                        <option></option>
                    </select>
                </div>
                <small id="ddlCategoríaHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group center">
                <label for="ddlCategoriaDetalleIndicador" class="col-form-label ">@EtiquetasViewIndicadorFonatel.CrearCategoria_LabelDetalleIndicador</label>
                <div class="select2-wrapper">
                    @*@Html.DropDownListFor(model => model.idDetalleIndicador, Enumerable.Empty<SelectListItem>(), "Seleccione", new { @class = "listasDesplegables multiple-Select", id = "ddlCategoriaDetalleIndicador", multiple = "multiple" })*@
                    <select class="listasDesplegables multiple-Select" multiple aria-label="Detalles de Categoríes de Desagregación" id="ddlCategoriaDetalleIndicador">
                        @*<option></option>*@
                    </select>
                </div>
                <small id="ddlCategoriaDetalleIndicadorHelp" class="form-text form-text-danger-fonatel" style="display: none;">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-lg-12 text-center">

            <button type="button" id="btnGuardarCategoria" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
            <button type="button" id="btnCancelarIndicador" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>

        </div>
    </div>
</form>
