@using GB.SIMEF.Resources;

@model GB.SIMEF.Entities.Indicador

@{
    ViewBag.Title = "Indicadores";
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/FONATEL/IndicadorFonatel")
}

@Html.Hidden("modoFormulario", (string)ViewBag.Modo)
@Html.HiddenFor(model => model.id, new { id = "identificadorFormulario" })

<div class="container body-content">
    <input type="hidden" id="dad1f550">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                        <li class="breadcrumb-item active"><a href="@Url.Action( "index","IndicadorFonatel")">@EtiquetasViewIndicadorFonatel.TituloIndex</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@EtiquetasViewIndicadorFonatel.TituloCrearIndicador</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="stepwizard">
        <div class="stepwizard-row setup-panel step_navigation_indicador">
            <div class="stepwizard-step" data-step="0">
                <p>@EtiquetasViewIndicadorFonatel.LabelStepperIndicador</p>
                <a href="#step-1" type="button" class="btn btn-circle">1</a>

            </div>
            <div class="stepwizard-step" data-step="1">
                <p>@EtiquetasViewIndicadorFonatel.LabelStepperVariables</p>
                <a href="#step-2" type="button" class="btn btn-circle">2</a>

            </div>
            <div class="stepwizard-step" data-step="2">
                <p>@EtiquetasViewIndicadorFonatel.LabelStepperCategorias</p>
                <a href="#step-3" type="button" class="btn btn-circle">3</a>

            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12 stepwizard-content-container hidden" id="step-1">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-title-fonatel text-center">@EtiquetasViewIndicadorFonatel.TituloCrearIndicador</h2>
                    <hr />
                </div>
                <div class="col-lg-12">
                    @Html.Partial("_CrearIndicador", Model)
                    @Html.Partial("_ModalTipoIndicador")
                    @Html.Partial("_ModalGrupoIndicador")
                    @Html.Partial("_ModalUnidadEstudio")
                </div>
            </div>
        </div>

        <div class="col-lg-12 stepwizard-content-container hidden" id="step-2">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-title-fonatel text-center">@EtiquetasViewIndicadorFonatel.TituloCrearVariable</h2>
                    <hr />
                </div>
                <div class="col-lg-12">
                    @Html.Partial("_CrearVariable", Model)
                </div>
                <div class="col-lg-12 mt-4">
                    @Html.Partial("_TablaDetalleVariable")
                </div>

                <div class="col-12 pull-right mt-4">
                    <button type="button" id="btnAtrasVariable" class="btn btn-fonatel btn-goback" aria-label="Left Align">
                        <span aria-hidden="true"></span>@Etiquetas.BotonAtras
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-12 stepwizard-content-container hidden " id="step-3">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-title-fonatel text-center">@EtiquetasViewIndicadorFonatel.TituloAgregarCategoria</h2>
                <hr />
            </div>
            <div class="col-lg-12">
                @Html.Partial("_CrearCategoria", Model)
            </div>
            <div class="col-lg-12 mt-4">
                @Html.Partial("_TablaDetalleCategoria")
            </div>

            <div class="col-lg-12 text-center">
                <button type="submit" id="btnFinalizarIndicador" class="btn btn-fonatel btn-info-fonatel">@Etiquetas.BotonFinalizar</button>
            </div>

            <div class="col-12 pull-right mt-4">
                <button type="button" id="btnAtrasCategoria" class="btn btn-fonatel btn-goback" aria-label="Left Align">
                    <span aria-hidden="true"></span>@Etiquetas.BotonAtras
                </button>
            </div>
        </div>
    </div>
</div>




