
@using GB.SIMEF.Resources; 


<div class="row">
    <div class="col-md-4  col-sm-12 ">

        <div class="form-group center">
            <label for="ddlFuenteDescargaEditarFormulario" class="col-sm-12 col-form-label">@EtiquetasViewFormulario.Fuente</label>
            <div class="col-sm-12">
                <div class="select2-wrapper">
                    <select class="listasDesplegables" aria-label="Default select example" id="ddlFuenteDescargaEditarFormulario">
                        <option></option>
                        <option value="1">FUENTE 1</option>
                        <option value="2">FUENTE 2</option>
                        <option value="2">FUENTE 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12" >
        <div class="form-group center">
            <label for="ddlSolicitudDescargaEditarFormulario" class="col-sm-12 col-form-label">@EtiquetasViewFormulario.Solicitud</label>
            <div class="col-sm-12">
                <div class="select2-wrapper">
                    <select class="listasDesplegables" aria-label="Default select example" id="ddlSolicitudDescargaEditarFormulario">
                        <option></option>
                        <option value="1">SOLICITUD 1</option>
                        <option value="2">SOLICITUD 2</option>
                        <option value="2">SOLICITUD 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="form-group center">
            <label for="ddlEditarFormularioDescargaEditarFormulario" class="col-sm-12 col-form-label">@EtiquetasViewFormulario.Formulario</label>
            <div class="col-sm-12">
                <div class="select2-wrapper">
                    <select class="listasDesplegables" aria-label="Default select example" id="ddlEditarFormularioDescargaEditarFormulario">
                        <option></option>
                        <option value="1">SOLICITUD 1</option>
                        <option value="2">SOLICITUD 2</option>
                        <option value="2">SOLICITUD 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="row mt-4">
    <div class="col-sm-12 text-center">
        <button type="submit" id="btnBuscarEditarFormulario" class="btn btn-fonatel btn-info-fonatel">@Etiquetas.BotonBuscar</button>

        <button type="submit" id="btnCancelarBuscarEditarFormulario" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>

       
    </div>
</div>





 
