
@model List<GB.SIMEF.Entities.RegistroIndicadorFonatel>

@using GB.SIMEF.Resources;

<div class="table-responsive table-wrapper-fonatel">

    <table id="TablaEditarRegistroIndicador" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Fuente</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Solicitud</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Año</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Mes</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.NombreFormulario</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Estado</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Fuente.Fuente</td>
                <td>@item.Solicitud.Nombre</td>
                <td>@item.Anno</td>
                <th>@item.Mes</th>
                <th>@item.Formulario</th>
                <td>@item.EstadoRegistro.Nombre</td>
                @if (item.IdEstado == (int)Constantes.EstadosRegistro.Activo || item.IdEstado == (int)Constantes.EstadosRegistro.EnProceso)
                {
                    <td>
                        <button type="button" data-toggle="tooltip" data-placement="top" onclick="location.href='@Url.Action("Edit", "EditarFormulario",new {idSolicitud= item.Solicitudid, idFormulario=item.FormularioId } )'" title=@EtiquetasViewEditarRegistroIndicador.Editar class="btn-icon-base btn-edit"></button>
                        <button type="button" data-toggle="tooltip" data-placement="top" onclick="location.href='@Url.Action("DescargarExcel2", "EditarFormulario", new {idSolicitud= item.Solicitudid, idFormulario=item.FormularioId } )'" title=@EtiquetasViewEditarRegistroIndicador.Descargar class="btn-icon-base btn-download"></button>
                    </td>

                }
                else
                {
                    <td><button type="button" data-toggle="tooltip" data-placement="top" value="" title=@EtiquetasViewRegistroIndicadorFonatel.LLenadoWeb class="btn-icon-base btn-edit-form disabled"></button></td>
                }

            </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>







