
@using GB.SIMEF.Resources;

<div class="table-responsive table-wrapper-fonatel">

    <table id="TablaEditarRegistroIndicador" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Fuente</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Solicitud</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Año</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Mes</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.NombreFormulario</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Estado</th>
                <th scope="col">@EtiquetasViewEditarRegistroIndicador.Acciones</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>







