@using GB.SIMEF.Resources;
@{
    ViewBag.Title = "Descarga y Edición de Formulario";
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

@*@section scripts {
    @Scripts.Render("~/bundles/FONATEL/EditarFormulario")
}*@

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">@EtiquetasViewFormulario.EditarFormulario</li>
            </ol>
        </nav>
    </div>
    <div id="FormularioIndex" class="row">

        <div class="col-sm-12">
            <h2 class="page-title-fonatel text-center">@EtiquetasViewFormulario.EditarFormulario</h2>
            <hr />
        </div>
        <div class="col-sm-12 mt-5">
            @Html.Partial("_tableFonatel")
        </div>
    </div>
</div>

<script src="~/Scripts/Fonatel/JsEditarFormularioWeb.js"></script>