@using GB.SIMEF.Resources;
@model GB.SIMEF.Entities.ReglaValidacion




@Html.Hidden("txtmodoregla", (string)ViewBag.Modo)

@Html.HiddenFor(model => model.id, new { id = "txtCodigo" })

<form class="mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12">

            <div class="form-group row">
                <label for="txtCodigo" class="col-form-label">@EtiquetasViewReglasValidacion.LabelCodigo.</label>
                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control form-control-fonatel", placeholder = EtiquetasViewReglasValidacion.LabelCodigo, id = "txtCodigo" } })
                @* <input type="text" class="form-control form-control-fonatel" id="txtCodigo" placeholder="Codigo">*@
                <small id="CodigoHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">

            <div class="form-group">
                <label for="txtNombre" class="col-form-label">Nombre</label>
                <input type="text" class="form-control form-control-fonatel" id="txtNombre" placeholder="Nombre de Regla">
                <small id="nombreHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label for="ddlIndicadorRegla" class="col-form-label">Indicador</label>
                <div class="select2-wrapper">
                    <select class=" listasDesplegables" id="ddlIndicadorRegla">
                        <option></option>
                        <option value="1">Torres Según Estado</option>
                        <option value="2">CPSP conectados</option>
                        <option value="3">Hogares Benificiados</option>
                        <option value="4">Dispositivos entregados</option>
                    </select>
                </div>
                <small id="TipoIndicadorHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="txtDescripcionRegla" class="col-form-label">Descripción</label>
                <textarea class="form-control form-control-fonatel textarea" id="txtDescripcionRegla" placeholder="Descripción"></textarea>
                <small id="DescripcionReglaHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center mt-5">
            <button type="submit" id="btnGuardarRegla" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
            <button type="submit" id="btnSiguienteRegla" class="btn btn-fonatel btn-next-fonatel">@Etiquetas.BotonSiguiente</button>
            <button type="submit" id="btnCancelarRegla" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
        </div>
    </div>

</form>

