@using GB.SIMEF.Resources;

@model GB.SIMEF.Entities.ReglaValidacion

<div class="table-responsive table-wrapper-fonatel" style="min-width:300px">
    <table id="TableTipoRegla" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewFormulario.Etiqueta</th>
                <th scope="col">@EtiquetasViewFormulario.TipoRegla</th>
                <th scope="col">@EtiquetasViewFormulario.Operador</th>
                <th scope="col">@EtiquetasViewFormulario.Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DetalleReglaValidacion)
            {
                <tr>
                    <td>@item.reglaValidacion.Nombre</td>
                    <td>@item.tipoReglaValidacion.Nombre</td>
                    <td>@item.operadorArismetico.Nombre</td>
                    <td>
                        <button type="button" value="2" data-toggle="tooltip" data-placement="top" title="Editar" class="btn-icon-base btn-edit"></button>
                        <button type="button" value="3" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>