@using GB.SIMEF.Resources;
@model GB.SIMEF.Entities.ReglaValidacion




<form id="formularioReglas" class="mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12">

            <div class="form-group">
                <label for="txtCodigo" class="col-form-label">@EtiquetasViewReglasValidacion.LabelCodigo</label>
                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control form-control-fonatel disabled",  id = "txtCodigo" } })
            </div>
        </div>
        <div class="col-md-4 col-sm-12">

            <div class="form-group">
                <label for="txtNombre" class="col-form-label">@EtiquetasViewReglasValidacion.LabelNombre</label>
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control form-control-fonatel disabled",  id = "txtNombre" } })
            </div>
        </div>

        <div class="col-md-4 col-sm-12">

            <div class="form-group">
                <label for="ddlIndicadorRegla" class="col-form-label">@EtiquetasViewReglasValidacion.LabelIndicador</label>
                @Html.EditorFor(model => model.Indicador.Nombre, new { htmlAttributes = new { @class = "form-control form-control-fonatel disabled", id = "txtNombreIndicador" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="txtDescripcionRegla" class="col-form-label">@EtiquetasViewReglasValidacion.LabelDescripcion  </label>
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control form-control-fonatel disabled",  id = "txtDescripcionRegla" })
              
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center mt-5">
            <button type="submit" id="btnCancelarRegla" class="btn btn-fonatel btn-error-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonCancelar">@Etiquetas.BotonCancelar</button>
        </div>
    </div>

</form>

