@using GB.SIMEF.Resources;

@{
    ViewBag.Title = "Reglas de Validación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                        <li class="breadcrumb-item active"><a href="/Fonatel/ReglasValidacion/index">Reglas de Validación</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Crear Regla de Validación</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="stepwizard">
        <div class="stepwizard-row setup-panel step_navigation_indicador">
            <div class="stepwizard-step" data-step="0">
                <p>Regla</p>
                <a href="#step-1" type="button" class="btn btn-circle">1</a>

            </div>
            <div class="stepwizard-step" data-step="1">
                <p>Tipo</p>
                <a href="#step-2" type="button" class="btn btn-circle">2</a>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12 stepwizard-content-container hidden" id="step-1">
            <div class="col-lg-12">
                <h2 class="page-title-fonatel text-center">Crear Regla de Validación</h2>
                <hr />
            </div>
            <div class="col-lg-12">
                @Html.Partial("_CrearRegla")
            </div>
        </div>
        <div class="col-lg-12 stepwizard-content-container hidden" id="step-2">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-title-fonatel text-center">Agregar Tipo Regla de Validación</h2>
                    <hr />
                </div>
                <div class="col-sm-12">
                    @Html.Partial("_CrearTipoRegla")
                </div>
                <div class="col-sm-12 mt-5">
                    @Html.Partial("_TablaDetalleVariable")
                </div>
                <div class="col-sm-12 text-center">
                    <button type="submit" id="btnSiguienteTipoSiguiente" class="btn btn-fonatel btn-info-fonatel">@Etiquetas.BotonFinalizar</button>
                </div>

                <div class="col-12 pull-right mt-4">
                    <button type="button" id="btnAtrasTipoRegla" class="btn btn-fonatel btn-goback" aria-label="Left Align">
                        <span aria-hidden="true"></span>@Etiquetas.BotonAtras
                    </button>
                </div>

            </div>

        </div>
    </div>

</div>


