@using GB.SIMEF.Resources;
@model GB.SIMEF.Entities.RelacionCategoria
<div class="row">

    <div class="col-md-4 col-sm-9 col-md-offset-4 col-sm-offset-3">
        <div class="form-group row">
            <label for="ddlCategoriaDetalle" class="col-sm-12 col-form-label ">@EtiquetasViewRelacionCategoria.CategoriaAtributo</label>
            <div class="col-sm-12">
                <div class="select2-wrapper">

                    @Html.DropDownList("ddlCategoriaAtributo", ((List<SelectListItem>)ViewBag.ListaCategoriaAtributo), "Seleccione", new { @class = "listasDesplegables", id = "ddlCategoriaAtributo" })

                </div>
                <small id="CategoriaDetalleHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
            </div>
        </div>
    </div>

</div>
<div class="row mt-5">
    <div class="col-lg-12 text-center">

        <button type="submit"disabled id="btnGuardarCategoria" class="btn btn-fonatel btn-success-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonGuardar" alt="@Etiquetas.BotonGuardar">@Etiquetas.BotonGuardar</button>

        <button type="submit" id="btnCancelar" class="btn btn-fonatel btn-error-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonCancelar" alt="@Etiquetas.BotonCancelar">@Etiquetas.BotonCancelar</button>

    </div>
</div>

