@using GB.SIMEF.Resources;

<div class="table-responsive table-wrapper-fonatel">
    <table id="TablaRelacionCategoria" class="dataTable datatable_simef  table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewRelacionCategoria.Codigo</th>
                <th scope="col">@EtiquetasViewRelacionCategoria.Nombre</th>
                <th scope="col">@EtiquetasViewRelacionCategoria.Cantidad</th>
                <th scope="col">@EtiquetasViewRelacionCategoria.Estado</th>
                <th scope="col">@EtiquetasViewRelacionCategoria.Detalle</th>
                <th scope="col">@EtiquetasViewRelacionCategoria.Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
                <th class="select2-wrapper"></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>

    </table>
</div>



