

@model List<GB.SIMEF.Entities.RegistroIndicadorFonatel>

@using GB.SIMEF.Resources;

<div class="table-responsive table-wrapper-fonatel">
    <table id="TableRegistroIndicadorFonatel" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>

                <th scope="col">@EtiquetasViewRegistroIndicadorFonatel.Solicitud</th>
                <th scope="col">@EtiquetasViewRegistroIndicadorFonatel.FechaInicio</th>
                <th scope="col">@EtiquetasViewRegistroIndicadorFonatel.FechaFinal</th>
                <th scope="col">@EtiquetasViewRegistroIndicadorFonatel.MesRegistro </th>
                <th scope="col">@EtiquetasViewRegistroIndicadorFonatel.NombreFormulario</th>
                <th scope="col">@EtiquetasViewRegistroIndicadorFonatel.Estado</th>
                <th scope="col">@EtiquetasViewRegistroIndicadorFonatel.LLenadoWeb</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.FechaInicio.ToString("MM/dd/yyyy")</td>
                <td>@item.FechaFin.ToString("MM/dd/yyyy")</td>
                <td>@item.Mes</td>
                <th>@item.Formulario</th>
                <td>@item.Estado</td>
                @if (item.IdEstado == (int)Constantes.EstadosRegistro.Activo || item.IdEstado == (int)Constantes.EstadosRegistro.EnProceso)
                {
                    <td><button type="button" data-toggle="tooltip" data-placement="top"  onclick="location.href='@Url.Action("Create", "RegistroIndicadorFonatel",new {idSolicitud= item.Solicitudid, idFormulario=item.Solicitudid } )'"  title=@EtiquetasViewRegistroIndicadorFonatel.LLenadoWeb class="btn-icon-base btn-edit-form"></button></td>
               
                }
                else
                {
                    <td><button type="button" data-toggle="tooltip" data-placement="top" value="" title=@EtiquetasViewRegistroIndicadorFonatel.LLenadoWeb class="btn-icon-base btn-edit-form disabled"></button></td>
                }

            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>

    </table>
</div>







