@using GB.SIMEF.Resources;

@{
    ViewBag.Title = "RegistroIndicadorFonatel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","RegistroIndicadorFonatel")">Registro de Indicador</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gestión Registro de Indicador</li>
            </ol>
        </nav>
    </div>




    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-title-fonatel text-center">Gestión Registro de Indicador</h2>
            <hr />
        </div>
    </div>

    <ul class="nav nav-tabs nav-tabs-fonatel mt-4">
        <li class="active"><a data-toggle="tab" href="#menu0">P4 extendido</a></li>
        <li><a data-toggle="tab" href="#menu1">P4 Usuario</a></li>
        <li><a data-toggle="tab" href="#menu0">P2-Jefas y menores M43</a></li>
        <li><a data-toggle="tab" href="#menu1">Indicador 3</a></li>
        <li><a data-toggle="tab" href="#menu0">Indicador 4</a></li>
        <li><a data-toggle="tab" href="#menu1">Indicador 5</a></li>
        <li><a data-toggle="tab" href="#menu0">Indicador 6</a></li>
        <li><a data-toggle="tab" href="#menu1">Indicador 7</a></li>
        <li><a data-toggle="tab" href="#menu0">Indicador 8</a></li>
    </ul>

    <div class="tab-content">

        <div id="menu0" class="tab-pane fade in active">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtCantidadRegistroIndicador" class="col-sm-12 col-form-label">Cantidad de Filas</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-fonatel solo_numeros" id="txtCantidadRegistroIndicador" placeholder="Cantidad de Filas">
                            <small id="txtCantidadRegistroIndicadorHelp" class="form-text  form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mt-4">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txtDescripcionRegla" class="col-form-label">Descripción</label>
                            <textarea class="form-control form-control-fonatel textarea" disabled id="txtDescripcionRegla" placeholder="Descripción"></textarea>
                            <small id="DescripcionReglaHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txtDescripcionRegla" class="col-form-label">Descripción</label>
                            <textarea class="form-control form-control-fonatel textarea" disabled id="txtDescripcionRegla" placeholder="Descripción"></textarea>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 text-center mb-2" style="display: flow-root;">
                    <button id="btnDescargarPlantillaRegistro" class="btn btn-fonatel btn-purple-fonatel">Descargar plantilla</button>
                    <button id="btnCargarPlantillaRegistro" class="btn btn-fonatel btn-success-fonatel">Cargar plantilla</button>
                </div>
            </div>

            <div class="table-responsive table-wrapper-fonatel">
                <table class="dataTable datatable_simef table-bordered table-condensed table-hover" id="tablaIndicador">
                    <thead>
                        <tr>
                            <th class="highlighted" scope="col">Cantidad de torres</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Código de distrito</th>
                            <th scope="col">Longitud</th>
                            <th scope="col">Latitud</th>
                            <th scope="col">Tipo de zona</th>
                            <th scope="col">Región</th>
                            <th scope="col">Operador</th>
                            <th scope="col">Estado</th>
                            <th scope="col">APs en servicio</th>
                            <th scope="col">Fecha PES</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div class="row mt-4">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-fonatel btn-next-fonatel">@Etiquetas.BotonValidar</button>
                    <button type="submit" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
                    <button type="submit" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
                </div>
            </div>
        </div>

        <div id="menu1" class="tab-pane fade">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtCantidadRegistroIndicador" class="col-sm-12 col-form-label">Cantidad de Filas</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-fonatel solo_numeros" id="txtCantidadRegistroIndicador" placeholder="Cantidad de Filas">
                            <small id="txtCantidadRegistroIndicadorHelp" class="form-text  form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mt-4">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txtDescripcionRegla" class="col-form-label">Descripción</label>
                            <textarea class="form-control form-control-fonatel textarea" disabled id="txtDescripcionRegla" placeholder="Descripción"></textarea>
                            <small id="DescripcionReglaHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txtDescripcionRegla" class="col-form-label">Descripción</label>
                            <textarea class="form-control form-control-fonatel textarea" disabled id="txtDescripcionRegla" placeholder="Descripción"></textarea>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 text-center mb-2" style="display: flow-root;">
                    <button id="btnGuardarCategoria" class="btn btn-fonatel btn-purple-fonatel">Descargar plantilla</button>
                    <button type="submit" class="btn btn-fonatel btn-success-fonatel">Cargar plantilla</button>
                </div>
            </div>

            <div class="table-responsive table-wrapper-fonatel">
                <table class="dataTable datatable_simef table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Código ZAIG</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Dispositivos totales</th>
                            <th scope="col">Dispositivo nuevos</th>
                            <th scope="col">Sesiones</th>
                            <th scope="col">Trafico MB</th>
                            <th scope="col">Tipo de zona</th>
                            <th scope="col">Operador</th>
                            <th scope="col">Código distrito</th>
                            <th scope="col">Distrito</th>
                            <th scope="col">Cantón</th>
                            <th scope="col">Provincia</th>
                            <th scope="col">Región</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="row mt-4">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-fonatel btn-next-fonatel">@Etiquetas.BotonValidar</button>
                    <button type="submit" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
                    <button type="submit" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
                </div>
            </div>
        </div>

    </div>

    <hr/>

    <div class="row mt-4">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-fonatel btn-info-fonatel">@Etiquetas.BotonCargar</button>
        </div>
    </div>
</div>
