


@model GB.SIMEF.Entities.RegistroIndicadorFonatel

@using GB.SIMEF.Resources;



@{
    ViewBag.Title = "RegistroIndicadorFonatel";
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

@section scripts {
    @*@Scripts.Render("~/bundles/FONATEL/RegistroIndicadorFonatel")*@
}

<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","RegistroIndicadorFonatel")">@EtiquetasViewRegistroIndicadorFonatel.RegistroIndicador</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gestión Registro de Indicador</li>
            </ol>
        </nav>
    </div>




    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-title-fonatel text-center">@Model.Formulario</h2>
            <hr />
        </div>
        <input type="hidden" id="cantidadIndicadores" value="@Model.DetalleRegistroIndcadorFonatel.Count"/>
    </div>
    <ul class="nav nav-tabs nav-tabs-fonatel mt-4">
        @foreach (var item in Model.DetalleRegistroIndcadorFonatel.OrderBy(x => x.IdDetalleRegistroIndicador))
        {
        <li id="@string.Format("Tab{0}", item.IdDetalleRegistroIndicador)"> <a data-toggle="tab" data-Indicador="@item.IdIndicadorString" href="@string.Format("#menu{0}", item.IdDetalleRegistroIndicador)">@item.TituloHoja</a></li>
        }
    </ul>

    <div class="tab-content">
        @foreach (var item in Model.DetalleRegistroIndcadorFonatel)
        {
            <div id="@string.Format("menu{0}", item.IdDetalleRegistroIndicador)" class="tab-pane fade ">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="txtCantidadRegistroIndicador" class="col-sm-12 col-form-label">@EtiquetasViewRegistroIndicadorFonatel.CantidadFilas</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-fonatel solo_numeros" id="txtCantidadRegistroIndicador" placeholder="Cantidad de Filas" value="@item.CantidadFila">
                                <small id="txtCantidadRegistroIndicadorHelp" class="form-text  form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-4">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtDescripcionRegla" class="col-form-label">@EtiquetasViewRegistroIndicadorFonatel.NotasEncargado</label>
                                <textarea class="form-control form-control-fonatel textarea" disabled id="txtNotasEncargado" placeholder="Notas">@item.NotaEncargado</textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="txtDescripcionRegla" class="col-form-label">@EtiquetasViewRegistroIndicadorFonatel.NotasInformante</label>
                                <textarea class="form-control form-control-fonatel textarea" id="txtNotasInformante" placeholder="Notas">@item.NotaInformante</textarea>
                                <small id="txtNotasInformanteHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 text-center mb-2" style="display: flow-root;">
                        <button id="btnDescargarPlantillaRegistro" disabled data-toggle="tooltip" data-placement="top" title="Descargar" class="btn btn-fonatel btn-purple-fonatel">Descargar plantilla</button>
                        <button id="btnCargarPlantillaRegistro" disabled data-toggle="tooltip" data-placement="top" title="Cargar Plantilla" class="btn btn-fonatel btn-success-fonatel">Cargar plantilla</button>
                    </div>





                </div>

                <div class="table-responsive table-wrapper-fonatel mb-2">
                    <table class="dataTable table-bordered table-condensed table-hover hidden data-table-indicador">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        <div class="row mt-4">
            <div class="col-sm-12 text-center">              
                <button type="submit" id="btnValidarRegistroIndicador" data-toggle="tooltip" data-placement="top" title="Validar" class="btn btn-fonatel btn-next-fonatel">@Etiquetas.BotonValidar</button>
            </div>
        </div>





        <hr />
        <input id='inputFileCargarPlantilla' type='file' accept=".csv,.xlsx,.xls" style="display:none;" />
        <div class="row mt-4">
            <div class="col-sm-12 text-center">
                <button type="submit" id="btnGuardarRegistroIndicador" data-toggle="tooltip" data-placement="top" title="Guardar" class="btn btn-fonatel btn-success">@Etiquetas.BotonGuardar</button>
                <button type="submit" id="btnCancelarRegistroIndicador" data-toggle="tooltip" data-placement="top" title="Cancelar" class="btn btn-fonatel btn-danger">@Etiquetas.BotonCancelar</button>
                <br />
                <center> <button type="submit" id="btnCargaRegistroIndicador" data-toggle="tooltip" data-placement="top" title="Cargar" class="btn btn-fonatel btn-info-fonatel" disabled>@Etiquetas.BotonCargar</button></center>
            </div>
        </div>


    </div>
</div>
<script src="~/Scripts/Fonatel/JsRegistroIndicadores.js"></script>