@model Tuple<List<GB.SUTEL.Entities.Agrupacion>, GB.SUTEL.Entities.Agrupacion>
@using GB.SUTEL.UI.Helpers;
@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        <span>@ViewBag.Error.Id</span>
        <span>@ViewBag.Error.Message</span>
    </div>
}
@if (GB.SUTEL.UI.Helpers.rolValidation.ValidateScreenFunctions(this.Context, "Agrupación", "Consultar"))
{
    <form id="frmFiltroAgrupacion" method="post"
          action="@Url.Action("_table")" data-ajax="true" data-ajax-target="#tablaAgrupacion"
          data-ajax-message="Cargando datos...">
        <table class="display" cellspacing="0" data-table-grid="true">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(tuple => tuple.Item2.IdAgrupacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(tuple => tuple.Item2.DescAgrupacion)
                    </th>

                    <th class="no-sort" style="min-width:40px;"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>


                    <td>
                        <input placeholder="Código" name="IdAgrupacion" value="@(ViewBag.searchTerm.IdAgrupacion == 0 ? "" : ViewBag.searchTerm.IdAgrupacion)" />
                    </td>
                    <td colspan="2">
                        <input placeholder="Agrupación" name="DescAgrupacion" value="@ViewBag.searchTerm.DescAgrupacion" />
                        <button type="submit" hidden>Submit</button>

                    </td>
                </tr>
            </tfoot>
            <tbody>
                @if (Model.Item1 != null)
                {
                    foreach (var item in Model.Item1)
                    {
                        <tr>
                            <td data-toggle="modal" data-target="#modalEditarAgrupacion"
                                data-select="true" data-json-selected='{"IDAgrupacionEditar":" @item.IdAgrupacion ", "txtIDNombreAgrupacionEditar": " @item.DescAgrupacion"}'>
                                @Html.DisplayFor(modelItem => item.IdAgrupacion)
                            </td>
                            <td data-toggle="modal" data-target="#modalEditarAgrupacion"
                                data-select="true" data-json-selected='{"IDAgrupacionEditar":" @item.IdAgrupacion ", "txtIDNombreAgrupacionEditar": " @item.DescAgrupacion"}'>
                                @Html.DisplayFor(modelItem => item.DescAgrupacion)
                            </td>

                            <td>

                                @if (rolValidation.ValidateScreenFunctions(this.Context, "Agrupación", "Eliminar"))
                                {
                                    <button type="button" class="btn btn-danger" aria-label="Left Align" data-toggle="modal" data-target="#modalEliminarAgrupacion"
                                            data-select="true"
                                            data-json-selected='{"IDAgrupacionEliminar":" @item.IdAgrupacion ", "txtIDNombreAgrupacionEliminar": " @item.DescAgrupacion"}'>
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                }

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="3">No se encontraron datos</td></tr>
                }
            </tbody>
        </table>
    </form>
}
else
{
    <div class="alert alert-info" role="alert">
        No tiene permisos para consultar.
    </div>
}
<script type="text/javascript">


    $(document).ready(
        function () {
            AjaxifyMyForm("frmFiltroAgrupacion",
            function (data) {
                data = "<div id='tablaAgrupacion'>" + data + "</div>";

                var $form = $(data);
                $("#tablaAgrupacion").replaceWith(data);
            },
            function (error) {

            });
        });


    //$('table[data-table-grid="true"]').ready(initDataGrid);
    //$('#frmFiltroAgrupacion').submit(function (event) {
    //    event.preventDefault(); // stop the actual submit
    //    // ajax code goes here to submit data
    //});

    if (typeof initDataGrid !== 'undefined') {
        $('table[data-table-grid="true"]').ready(initDataGrid);
    }

    $('#frmFiltroAgrupacion input').keyup(function (event) {
        if (event.keyCode === 13) {
            $('#frmFiltroAgrupacion').submit();
        }
    });

</script>