@model GB.SUTEL.Entities.Agrupacion
@using GB.SUTEL.UI.Helpers;
<form id="formEditar" method="post"
      action="@Url.Action("EditarAgrupacion")" data-ajax="true" data-ajax-target="#partialViewContent"
      data-ajax-message="Cargando datos desde index...">
    <div class="modal fade" id="modalEditarAgrupacion">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar Agrupación</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.DescAgrupacion, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.IdAgrupacion, new { @id = "IDAgrupacionEditar" })
                                @Html.EditorFor(model => model.DescAgrupacion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre", @id = "txtIDNombreAgrupacionEditar" } })
                                @Html.ValidationMessageFor(model => model.DescAgrupacion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="alert alert-danger" hidden role="alert" id="divMensajeErrorEditarAgrupacion">
                            <strong>Error!</strong>
                            <div id="idMensajeErrorEditarAgrupacion"></div>
                        </div>

                        <div class="modal-footer">
                            @if (rolValidation.ValidateScreenFunctions(this.Context, "Agrupación", "Editar"))
{
    <input type="submit" value="Guadar Cambios" class="btn btn-success" alt="Guadar Cambios" title="Guadar Cambios" />
}
                            <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">Cancelar</button>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<script type="text/javascript">

    $(document).ready(function () {
        function onSuccess(data) {

            data = JSON.parse(data);

            if (data.ok == "True") {
                $("#modalEditarAgrupacion").modal('hide');
                // esperar y volver a ejecutar el refresh de la tabla por AJAX
                //setTimeout(function () {
                $("#frmFiltroAgrupacion")[0].reset();
                $("#frmFiltroAgrupacion").submit();

                addSuccess({ msg: "La información se actualizó con éxito." })
                //}, 500);
            } else {
                $("#divMensajeErrorEditarAgrupacion").show();
                $("#idMensajeErrorEditarAgrupacion").html(data.strMensaje);
                //showError(data.strMensaje);
            }
        }
        function onFailure(error) {
            showError(error.responseText);
        }
        // pasa el id del form de crear
        // pasa la función a ejecutar si todo está bien
        // pasa la función a ejecutar si hay errores
        AjaxifyMyForm("formEditar",
            onSuccess,
            onFailure);
    });

    function showError(msg) {
        $("#divMensajeErroEditarAgrupacion").show();
        $("#idMensajeErrorCuerpoEditarAgrupacion").html(msg);
    }

</script>

