<script type="text/javascript">
    function loadIndicador(data) {
        allIndicadoresEditar = [];

        dataPorServicio = data;        

        if (data != undefined) {
            for (x in data.data) {

                var inList = false;

                for (var i = 0; i < allIndicadoresEditar.length; i++) {
                    if (data.data[x] == allIndicadoresEditar[i]) {
                        inList = true;
                    }
                }

                if (!inList) {
                    allIndicadoresEditar.push(data.data[x].IdTipoInd);
                }
            };
        }

        $("input[id^='checkTipoIndicadorEditar_']").each(function (index) {
            var checkbox = this;
            $(checkbox).prop('checked', false);
        });

        for (var i = 0; i < allIndicadoresEditar.length; i++) {
            $("#checkTipoIndicadorEditar_" + allIndicadoresEditar[i]).prop('checked', true);
        }
    };
    for (var i = 0; i < allIndicadoresEditar.length; i++) {
        $("#checkTipoIndicadorEditar_" + allIndicadoresEditar[i]).prop('checked', true);
    }
</script>


@model GB.SUTEL.UI.Models.ServicioViewModels
@using GB.SUTEL.UI.Helpers;

@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        <span>@ViewBag.Error.Id</span>
        <span>@ViewBag.Error.Message</span>
    </div>
}

    @*@if (rolValidation.ValidateScreenFunctions(this.Context, "Servicios", "Consultar"))
        {*@

    <table class="display" data-table-grid="true" style="width:60%" data-table-grid-display-rows="4">
        <thead>
            <tr>
                <th style="width:5%" class="no-sort"></th>
                <th style="width:95%">
                    @Html.DisplayNameFor(model => model.listadoTipoIndicador.First().DesTipoInd)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.listadoTipoIndicador)
            {
                <tr>
                    <td style="width:5% !important">

                        <input type="checkbox" value="@item.IdTipoInd" onchange="AgregarNuevoIndicadorEditar(@item.IdTipoInd)" id="checkTipoIndicadorEditar_@item.IdTipoInd">                      

                    </td>
                    <td style="width:95% !important">
                        @Html.DisplayFor(modelItem => item.DesTipoInd)
                    </td>


                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">

                    <form id="frmFilterTipoIndicadorEditar" method="post"
                          action="@Url.Action("_tableTipoIndicadoresEditar")" data-ajax="true" data-ajax-target="#tableTipoIndicadorEditar"
                          data-ajax-message="Cargando datos...">
                        <input placeholder="Tipo Indicador" name="TipoIndicador" value="@ViewBag.searchTipoIndicador" id="txtSubmitBuscaTipoIndicadorEditar" />
                        <input type="submit" style="display:none" />
                    </form>
                </td>

            </tr>
        </tfoot>
    </table>


    @*}
        else
        {
            <div class="alert alert-info" role="alert">
                No tiene permisos para consultar.
            </div>
        }*@


    <script type="text/javascript">


        $(document).ready(
         function () {
             AjaxifyMyForm("frmFilterTipoIndicadorEditar",
             function (data) {
                
                 data = "<div id='tableTipoIndicadorEditar'>" + data + "</div>";

                 var $form = $(data);
                 $("#tableTipoIndicadorEditar").replaceWith(data);                
             },
             function (error) {

             }, 10000);


         });



            if (typeof initDataGrid !== 'undefined') {
                $('table[data-table-grid="true"]').ready(initDataGrid);
            }

            $('#frmFilterTipoIndicadorNuevo').submit(function (event) {
                event.preventDefault(); // stop the actual submit
                // ajax code goes here to submit data
            });

            $('#frmFilterTipoIndicadorEditar input').keyup(function (event) {
                if (event.keyCode === 13) {
                    $('#frmFilterTipoIndicadorNuevo').submit();
                }
            });



            //#############################################################
            //Funcion se ejecuta al seleccionar un Indicador
            function AgregarNuevoIndicadorEditar(id) {

                var element = $("#checkTipoIndicadorEditar_" + id);
                var valueChecked = element.prop('checked');

                var inList = false;
                var indexArray = null;
                for (var i = 0; i < allIndicadoresEditar.length; i++) {
                    if (allIndicadoresEditar[i] == id) {
                        inList = true;
                        indexArray = i;
                        break;
                    }
                }
                if (!inList && valueChecked) {
                    allIndicadoresEditar.push(id);
                }
                else {
                    if (inList && !valueChecked) {
                        allIndicadoresEditar.splice(indexArray, 1);
                    }
                }
            };


    </script>