@model List<GB.SUTEL.Entities.IndicadorExterno>
@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        <span>@ViewBag.Error</span>
    </div>
}
else
{ 
<form id="formFilter" method="post"
      action="@Url.Action("_tableIndicadoresExternos")" data-ajax="true" data-ajax-message="Guardando..." data-ajax-message-default="Crear">
    @Html.AntiForgeryToken()
    <table id="tableIE" class="display" cellspacing="0" data-table-grid="true">
        <thead>
            <tr>
                <th class="no-sort"></th>
                <th width="100%">Indicador</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input name="INDICADORES" id="IEId @item.IdIndicadorExterno" data-id="@item.IdIndicadorExterno" type="checkbox"/></td>
                    <td><label for="IEId @item.IdIndicadorExterno">@item.Nombre</label></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>
                    <input type="hidden" name="searchid" value="@(ViewBag.searchTerm[1] == null ? "" : ViewBag.searchTerm[1])" />
                    <input placeholder="Indicador" name="Nombre" value="@(ViewBag.searchTerm[0] == null ? "" : ViewBag.searchTerm[0])" />
                </td>
            </tr>
        </tfoot>

    </table>
</form>
}