@model Tuple<List<GB.SUTEL.Entities.Operador>, List<GB.SUTEL.Entities.Servicio>, List<GB.SUTEL.Entities.ServicioOperador>>

@{
    ViewBag.Title = "Confirmación de Servicios";
}
<h4>Confirmación de Servicios para el operador: @Html.DisplayFor(model => model.Item1[0].NombreOperador)</h4>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Proceso/configuracionServicios.js")"></script>
}

<p>
    De la siguiente lista de servicios autorizados por SUTEL, confirme los que actualmente está comercializando
</p>

<input type="hidden" id="hiddContinuar" name="hiddContinuar" />

            <div style="text-align:left">
                <form id="formGuardar" method="post" data-ajax="true"
                      action="@Url.Action("Guardar")">
                    <button type="button" class="btn btn-success" id="btnGuardar" tooltip="Este proceso confirma la comercialización de los servicios seleccionados" data-tooltip="true">Confirmar</button>
                    <p />
                    
                       
                    <div id="CheckBoxHidden" style="display:none">
                    </div>
                </form>
            </div>
            <div id="tablaServicios">@{Html.RenderPartial("_Servicios", Model);}</div> 

<div class="alert alert-danger" hidden role="alert" id="divMensajeError">
    <strong>Error!</strong>
    <div id="idMensajeErrorCuerpo"></div>
</div>
<script language="javascript">
    $(document).ready(function () {
        $("#btnGuardar").click(function (e) {
            Guardar();
        });
    });

    function Guardar() {
        $("body").append("<div class='darkScreen' hidden><div class='img-waiter'></div></div>");
        $(".darkScreen").fadeIn(500);
        $.ajax(
        {
            type: "POST",
            traditional: true,
            url: '@Url.Action("Guardar", "ConfiguracionServicios")',
            secureuri: false,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            enctype: 'multipart/form-data',
            // data: JSON.stringify({ }),
            success: function (data, status) {
                //debugger;
                if (data.ok == "True") { 
                    addSuccess({ msg: "El registro se guardo exitosamente" });
                    window.location = '@Url.Action("Index", "ConfiguracionServicios")';
                }
                else{
                    $("#divMensajeError").show();
                    $("#divMensajeError").text(data.strMensaje);
                }
                $(".darkScreen").fadeOut(100, function () {
                    $(this).remove();
                });
     
            }}
    )}

        </script>