@using GB.SIMEF.Resources;

@{
    ViewBag.Title = "Generador URL de Indicadores";
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/FONATEL/GeneradorURL")
}

<div class="container body-content">
    <input type="hidden" id="dad1f1ea">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action( "index","Home")">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">@EtiquetasViewIndicadorFonatel.TituloGeneradorUrl</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-4">
            <h2 class="page-title-fonatel text-center">@EtiquetasViewIndicadorFonatel.TituloGeneradorUrl</h2>
            <hr />
        </div>
        <div class="col-lg-12 mr-2">
            <form class="form-inline col-lg-12" role="form">
                <div class="form-group col-lg-2" style="padding-left: 0px; margin-left: 0px;">
                    <a class="btn btn-fonatel btn-success-fonatel" disabled="@ViewBag.ConsultasFonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.Generar" alt="@Etiquetas.Generar" style="margin-left: 0px;" id="btnGenerarURL">@Etiquetas.Generar</a>
                </div>
                <div class="form-group col-lg-10 mt-2" style="padding-right: 0px; margin-right: 0px;top:-10px">
                    <input class="form-control form-control-fonatel solo_texto text-box single-line" style="max-width: 90%;" type="text" placeholder="URL" name="URL" id="txtURL" disabled value="@ViewBag.RutaAPISIGITEL" />
                    <input type="hidden" id="txtRuta" value="@ViewBag.RutaAPISIGITEL" />
                    <button class="btn-icon-base btn-copy" type="button" data-toggle="tooltip" data-placement="top" id="btnCopiar" title="Copiar URL" onclick="copiarAlPortapapeles(txtURL)"></button>
                    <button class="btn-icon-base btn-clean" type="button" data-toggle="tooltip" data-placement="top" id="btnCancelar" title="Limpiar"></button>
                </div>
            </form>
        </div>

    </div>
    <div class="col-md-12 mt-4" style="margin-left: 14px; padding-right: 40px;">
        @Html.Partial("_Tabla")
    </div>
</div>

<script>
    function copiarAlPortapapeles(id_elemento) {
        var aux = document.createElement("input");
        aux.setAttribute("value", document.getElementById(id_elemento).innerHTML);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);
    }


</script>
