@using GB.SUTEL.UI.Helpers;

<h4>Mantenimiento de Fuentes Externas</h4>
<hr>
@if (rolValidation.ValidateScreenFunctions(this.Context, "Fuentes Externas", "Crear"))
{
    <p>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalCrear" title='@GB.SUTEL.Resources.Resources.btnTooltipNuevo'>
            Nuevo
        </button>
    </p>
}
<div id="tabla">
    @Html.Action("_table")
</div>

@if (rolValidation.ValidateScreenFunctions(this.Context, "Fuentes Externas", "Crear"))
{
    @Html.Partial("_crear");
}
@if (rolValidation.ValidateScreenFunctions(this.Context, "Fuentes Externas", "Editar"))
{
    @Html.Partial("_editar");
}
@if (rolValidation.ValidateScreenFunctions(this.Context, "Fuentes Externas", "Eliminar"))
{
    @Html.Partial("_eliminar");
}
@section scripts{
    @Scripts.Render("~/Scripts/Mantenimientos/source.js")
}