@model IEnumerable<GB.SUTEL.Entities. SolicitudGeneral>

@{
    ViewBag.Title = "Index";
}

@*Links*@
<link href="~/Content/Mantenimiento.css" rel="stylesheet" />
<link href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/Responsive-2.2.2/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="~/Content/sweetalert2-7.32.2/package/dist/sweetalert2.css" rel="stylesheet" />

<h2>Solicitudes</h2>
@*Acciones superior*@
<div>
    <a id="Crear" class="btn azul-sutel">Crear Solicitud</a>
    <button id="Enviar" class="btn azul-sutel" onclick="enviarNotificaciones();" disabled>Enviar Notificaciones</button>
</div>
<br />
@*Tabla*@
<table id="Solicitudes" class="table table-striped  dt-responsive" style="width:100%">
    @*Encabezado*@
    <thead class='azul-sutel'>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                Fecha Inicio
            </th>
            <th>
                Fecha Final
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    @*Cuerpo*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*Notificación enviada*@
                <td>
                    @if (item.NotificacionEnviada)
                    {
                        <input type="checkbox" disabled />
                    }
                    else
                    {
                        <input type="checkbox" onclick="checkEnviar(@item.IdSolicitud, this)" />
                    }
                </td>
                @*Descripción*@
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                @*Fecha Inicio*@
                <td>
                    @item.FechaInicio.ToString("dd/MM/yyyy")
                </td>
                @*Fecha Fin*@
                <td>
                    @item.FechaFinal.ToString("dd/MM/yyyy")
                </td>
                @*Activo*@
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                @*Acciones*@
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        @*Enviar notificacion*@
                        @if (item.NotificacionEnviada)
                        {
                            <button class="btn azul-sutel" type="submit" onclick="enviarCorreo(@item.IdSolicitud)" data-toggle="tooltip" data-placement="top" title="Enviar Notificación" disabled><i class="fa fa-envelope" style="color:#ffffff"></i></button>
                        }
                        else
                        {
                            <button class="btn azul-sutel" type="submit" onclick="enviarCorreo(@item.IdSolicitud)" data-toggle="tooltip" data-placement="top" title="Enviar Notificación"><i class="fa fa-envelope" style="color:#ffffff"></i></button>
                        }
                        @*Eliminar*@
                        @if (item.NotificacionEnviada)
                        {
                            <button class="btn azul-sutel" type="submit" onclick="eliminar(@item.IdSolicitud)" data-toggle="tooltip" data-placement="top" title="Eliminar" disabled><i class="fa fa-times" style="color:#ffffff"></i></button>
                        }
                        else
                        {
                            <button class="btn azul-sutel" type="submit" onclick="eliminar(@item.IdSolicitud)" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-times" style="color:#ffffff"></i></button>
                        }
                        @*Operadores*@
                        <button class="btn azul-sutel" type="button" onclick="verOperadores(@item.IdSolicitud)" data-toggle="tooltip" data-placement="top" title="Operadores"><i class="fa fa-info" style="color:#ffffff"></i></button>
                        @*Archivo*@
                        <a href="@Url.Action("ReturnFile", "SolicitudGenerals", new { IdSolicitud= item.IdSolicitud })" class="btn azul-sutel" data-toggle="tooltip" data-placement="top" title="Descargar Archivo"><i class="fa fa-file-download" style="color:#ffffff"></i></a>
                        @*Editar*@
                        @if (item.NotificacionEnviada)
                        {
                            <a class="btn azul-sutel" href="/SolicitudGenerals/Edit/@item.IdSolicitud" data-toggle="tooltip" data-placement="top" title="Editar" disabled><i class="fa fa-edit" style="color:#ffffff"></i></a>
                        }
                        else
                        {
                            <a class="btn azul-sutel" href="/SolicitudGenerals/Edit/@item.IdSolicitud" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit" style="color:#ffffff"></i></a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@*Filtros tabla*@
<div class="row azul-sutel">
    @*Formulario*@
    <div class="col-sm-2 col-sm-offset-2 azul-sutel">
        <input onkeyup="filtroFormulario(this.value)" placeholder="Filtro por Formulario" style=" margin:5px; text-align:center" type="text" class="form-control">
    </div>
    @*Fecha Inicio*@
    <div class="col-sm-2 col-sm-offset-1 azul-sutel">
        <input onkeyup="filtroFechaInicio(this.value)" placeholder="Filtro por Fecha Inicial" style="margin:5px;  text-align:center" type="text" class="form-control">
    </div>
    @*Fecha Fin*@
    <div class="col-sm-2 col-sm-offset-1 azul-sutel">
        <input onkeyup="filtroFechaFinal(this.value)" placeholder="Filtro por Fecha Final" style="margin:5px;  text-align:center" type="text" class="form-control">
    </div>
</div>
@*Modeal operadores*@
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">Operadores</h4>
            </div>
            <div class="modal-body">
                <div id="OperadoresModal">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn azul-sutel" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>
</div>
@*Scripts*@
<script src="~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script src="~/Content/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<script src="~/Content/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
<script src="~/Content/DataTables/Responsive-2.2.2/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/sweetalert2-7.32.2/package/dist/sweetalert2.min.js"></script>

<script>
    ids = new Set();
    $(document).ready(function () {
        //Ocultar estilos
        //var styleSheets = document.styleSheets;
        //var href = "/Content/DataTables-1.10.5/media/css/jquery.dataTables.min.css";
        //for (var i = 0; i < styleSheets.length; i++) {
        //    if (styleSheets[i].href.includes(href)) {
        //        styleSheets[i].disabled = true;
        //        break;
        //    }
        //}

        //usar Datatable
        $('#Solicitudes').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json",
            },
            "order": [[1, "asc"]],
            'columnDefs': [
                {
                    "targets": [0, 4, 5],
                    "orderable": false,
                    "className": "text-center",
                }]

        });
        $("#Crear").attr("href", "/SolicitudGenerals/Create");
    });

    //Función para para agregar a lista de enviar
    function checkEnviar(IdSolicitud, check) {
        var bool = check.checked;
        if (bool)
            ids.add(IdSolicitud);
        else
            ids.delete(IdSolicitud);
        if (ids.size == 0)
            $("#Enviar").prop("disabled", true);
        else
            $("#Enviar").prop("disabled", false);
    }

    //Filtro formulario
    function filtroFormulario(filtro) {
        var table = $('#Solicitudes').DataTable();
        table.column(1).search(filtro).draw();
    }
      //Filtro fecha inicio
    function filtroFechaInicio(filtro) {
        var table = $('#Solicitudes').DataTable();
        table.column(2).search(filtro).draw();
    }
      //Filtro fecha final
    function filtroFechaFinal(filtro) {
        var table = $('#Solicitudes').DataTable();
        table.column(3).search(filtro).draw();
    }
      //Función para ver operadores
    function verOperadores(IdSolicitud) {
        $('#myModal').modal('toggle');
          //Obtiene operadores
        $.get('/SolicitudGenerals/verOperadores?IdSolicitud=' + IdSolicitud, function (item) {
            var html = '<ul class="list-group">';
            item.forEach(function (element) {
                //Agrega HTML con operadores
                html += '<li class="list-group-item">' + element + '</li>';
                console.log(element);
            });
            html += '</ul>';
            $("#OperadoresModal").html(html);
        });
    }
    //Función para elimiar solicitudes
    function eliminar(IdSolicitud) {
        //Advertencia
        Swal.fire({
            title: '¿Desea eliminar la solicitud?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.value) {
                //Eliminar solicitud
                $.ajax({
                    url: "/SolicitudGenerals/Eliminar?IdSolicitud=" + IdSolicitud,
                    type: 'GET',
                    success: function (result) {
                          //Mensaje
                        Swal.fire({
                            title: 'Solicitud Borrada',
                            text: "La solicitud fue borrada exitosamente",
                            type: 'success',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                            if (result.value) {
                                window.location.href = 'Index';
                            }
                        })
                    },
                    error: function (jqXHR, textStatus, error) {
                        Swal("La solicitud no se pudo eliminar", "", "error");
                    }
                });
            }
        })

    }
    //Función para enviar correo
    function enviarCorreo(IdSolicitud) {
        //Enviar correos
        $.get('/SolicitudGenerals/EnviarNotificaciones?IdSolicitud=' + IdSolicitud, function (item) {
            if (item) {
                //mensajes
                Swal({
                    title: 'Se enviaron las notificaciones correctamente',
                    text: "",
                    type: 'success',
                }).then((result) => {
                    if (result.value) {
                        window.location.href = "/SolicitudGenerals/Index";
                    }
                })
            }
            else
                Swal("Las notificaciones no fueron enviadas", "", "error");
        });
    }

    //Enviar notificaciones
    function enviarNotificaciones() {
        var correcto = true;
        //Envia notificaciones a todos con check
        ids.forEach(function (element) {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                url: "/SolicitudGenerals/EnviarNotificaciones?IdSolicitud=" + element,
                contentType: "html",
                success: function (result) {
                    correcto = correcto && result;
                },
                error: function (result) {
                    Swal('Error interno', 'Contactar a soporte(500)', 'error');
                }
            });
        });
        if (correcto) {
            Swal({
                title: 'Las notificaciones se enviaron correctamente',
                text: "",
                type: 'success',
            }).then((result) => {
                if (result.value) {
                    window.location.href = "/SolicitudGenerals/Index";
                }
            })
        }
        else {
            Swal("Las notificaciones no se pudieron enviar", "Solicitud de envió de notificación rechazada", "error");

        }


    }

</script>