
<script type="text/javascript">
    function loadIndicadoresUIT(idIndicadorUIT) {        

        var inList = false;
        
        for (var i = 0; i < allIndicadoresUIT.length; i++) {            
            if (idIndicadorUIT == allIndicadoresUIT[i]) {
                inList = true;                
            }                      
        }

        if (!inList) {
            allIndicadoresUIT.push(idIndicadorUIT);
        }
    };

    for (var i = 0; i < allIndicadoresUIT.length; i++) {
        $("#checkIndicadorUIT_" + allIndicadoresUIT[i]).prop('checked', true);
    }
</script>


@model Tuple<List<GB.SUTEL.Entities.IndicadorUIT>, GB.SUTEL.Entities.Indicador>
@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        <span>@ViewBag.Error.Id</span>
        <span>@ViewBag.Error.Message</span>IndicadorUIT
    </div>
}

<table class="display" cellspacing="0" data-table-grid="true" data-table-grid-display-rows="4">
    <thead>
        <tr>
            <th width="2px" class="no-sort"></th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>        
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>
                    @if (item.Indicador.Count > 0)
                    {
                        bool exist = false;                                          
                        foreach (var item2 in item.Indicador)
                        {                            
                            if (item2.IdIndicador == Model.Item2.IdIndicador)
                            {                                
                                <input type="checkbox" value="@item.IdIndicadorUIT" onchange="addNewIndicadorUIT(@item.IdIndicadorUIT)" checked id="checkIndicadorUIT_@item.IdIndicadorUIT">
                                                                        <script>loadIndicadoresUIT(@item.IdIndicadorUIT)</script>
                                exist = true; break;
                            }
                        }
                        if (!exist)
                        {
                            <input type="checkbox" value="@item.IdIndicadorUIT" onchange="addNewIndicadorUIT(@item.IdIndicadorUIT)" id="checkIndicadorUIT_@item.IdIndicadorUIT">                                
                        }                                            
                    }
                    else
                    {
                        <input type="checkbox" value="@item.IdIndicadorUIT" onchange="addNewIndicadorUIT(@item.IdIndicadorUIT)" id="checkIndicadorUIT_@item.IdIndicadorUIT">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescIndicadorUIT)                      
                </td>                                
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <form id="frmFilterIndicadorUIT" method="post"
                      action="@Url.Action("_tableIndicadoresUIT")" data-ajax="true" data-ajax-target="#tableIndicadorUIT"
                      data-ajax-message="Cargando datos...">                   
                    <input name="idIndicador" hidden value="@Model.Item2.IdIndicador" />
                    <input placeholder="Nombre" name="DescIndicadorUIT" value="@ViewBag.searchTermUIT.DescIndicadorUIT" />
                    <button type="submit" hidden>Submit</button>
                </form>
            </td>
        </tr>
    </tfoot>
</table>

 

<script type="text/javascript">
    

    $(document).ready(
        function () {
            AjaxifyMyForm("frmFilterIndicadorUIT",
            function (data) {                                
                data = "<div id='tableIndicadorUIT'>" + data + "</div>";

                var $form = $(data);
                $("#tableIndicadorUIT").replaceWith(data);
                $('table[data-table-grid="true"]').ready(initDataGrid);
                //var $form = $(data);                
                //$('table[data-table-grid="true"]').ready(initDataGrid);
            },
            function (error) {

            }, 10000);
        });
    
    $('#frmFilterIndicadorUIT').submit(function (event) {
        event.preventDefault(); // stop the actual submit
        // ajax code goes here to submit data
    });
    //Consulta permisos de roles por usuario
    function hrefEditarIndicador(id) {
        window.location = "Indicador/Editar/" + id;
    }

    function addNewIndicadorUIT(id) {

        var element = $("#checkIndicadorUIT_" + id);
        var valueChecked = element.prop('checked');

        var inList = false;
        var indexArray = null;
        for (var i = 0; i < allIndicadoresUIT.length; i++) {
            if (allIndicadoresUIT[i] == id) {
                inList = true;
                indexArray = i;
                break;
            }
        }
        if (!inList && valueChecked) {
            allIndicadoresUIT.push(id);
        }
        else {
            if (inList && !valueChecked) {
                allIndicadoresUIT.splice(indexArray, 1);
            }
        }
    };

    $('#frmFilterIndicadorUIT input').keyup(function (event) {
        if (event.keyCode === 13) {
            $('#frmFilterIndicadorUIT').submit();
        }
    });
</script>