@using GB.SIMEF.Resources;
@model GB.SIMEF.Entities.DetalleFormularioWeb


<form id="formCrearFormulario">
    <div class="row">
        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">
            <div class="justify-content-center">
                <div class="form-group row">
                    <label for="txtCodigoFormulario" class="col-sm-12 col-form-label">@EtiquetasViewFormulario.Codigo</label>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.formularioweb.Codigo, new { htmlAttributes = new { @class = "form-control form-control-fonatel alfa_numerico", @maxlength = "30", placeholder = EtiquetasViewFormulario.Codigo, id = "txtCodigoFormulario" } })
                        <small id="txtCodigoFormularioHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtNombreFormulario" class="col-sm-12 col-form-label">@EtiquetasViewFormulario.Nombre</label>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.formularioweb.Nombre, new { htmlAttributes = new { @class = "form-control form-control-fonatel alfa_numerico", @maxlength = "500", placeholder = EtiquetasViewFormulario.Nombre, id = "txtNombreFormulario" } })
                        <small id="txtNombreFormularioHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">
            <div class="justify-content-center">


                <div class="form-group row">
                    <label for="ddlFrecuanciaEnvio" class="col-sm-12 col-form-label ">@EtiquetasViewFormulario.FrecuenciaEnvio</label>
                    <div class="col-sm-12">
                        <div class="select2-wrapper">
                            <div class="select2-wrapper">
                                @Html.DropDownListFor(model => model.formularioweb.idFrecuenciaEnvio, new SelectList(ViewBag.FrecuenciaEnvio, "IdFrecuenciaEnvio", "Nombre"), "Seleccione", new { @class = "listasDesplegables", id = "ddlFrecuanciaEnvio" })
                            </div>
                        </div>
                        <small id="ddlFrecuenciaHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="txtCantidadIndicadoresFormulario" class="col-sm-12 col-form-label">@EtiquetasViewFormulario.CantidadIndicadores</label>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.formularioweb.CantidadIndicador, new { htmlAttributes = new { @class = "form-control form-control-fonatel solo_numeros", placeholder = EtiquetasViewFormulario.CantidadIndicadores, id = "txtCantidadIndicadoresFormulario" } })
                        <small id="txtCantidadIndicadoresFormularioHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-sm-12 col-sm-offset-0">
            <div class="form-group row">
                <label for="txtDescripcionFormulario" class="col-sm-12 col-form-label">@EtiquetasViewFormulario.Descripcion</label>
                <div class="col-sm-12">
                    @Html.TextAreaFor(model => model.formularioweb.Descripcion, new { @class = "form-control form-control-fonatel alfa_numerico", @maxlength = "3000", placeholder = EtiquetasViewFormulario.Descripcion, id = "txtDescripcionFormulario" })
                    <small id="txtDescripcionFormularioHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">

        <div class="col-lg-12 text-center">

            <button type="submit" id="btnGuardarFormulario" class="btn btn-fonatel  btn-success-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonGuardar">@Etiquetas.BotonGuardar</button>
            <button type="submit" id="btnSiguienteFormulario" class="btn btn-fonatel btn-next-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonSiguiente">@Etiquetas.BotonSiguiente</button>
            <button type="submit" id="btnCancelarFormulario" class="btn btn-fonatel btn-error-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonCancelar">@Etiquetas.BotonCancelar</button>

        </div>
    </div>
</form>

