@using GB.SIMEF.Resources;


<form>
    <div class="row">
        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">
            <div class="justify-content-center">     
                <div class="form-group row">
                    <label for="txtCodigoFormulario" class="col-sm-12 col-form-label">Código</label>
                    <div class="col-sm-12">
                        <input type="text" aria-label="Código de Categoría" class="form-control form-control-fonatel  " id="txtCodigoFormulario" placeholder="Código">
                        <small id="txtCodigoFormularioHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtNombreFormulario" class="col-sm-12 col-form-label">Nombre</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-fonatel  " id="txtNombreFormulario" placeholder="Nombre">
                        <small id="txtNombreFormularioHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

            </div>
          </div>
        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">
            <div class="justify-content-center">
             

                <div class="form-group row">
                    <label for="ddlFrecuencia" class="col-sm-12 col-form-label ">Frecuencia</label>
                    <div class="col-sm-12">
                        <div class="select2-wrapper">
                            <select class="listasDesplegables" id="ddlFrecuencia">
                                <option></option>
                                <option>Quisenal</option>
                                <option>Mensual</option>
                                <option>Semanal</option>
                            </select>
                        </div>                       
                        <small id="ddlFrecuenciaHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="txtCantidadIndicadoresFormulario" class="col-sm-12 col-form-label">Cantidad de Indicadores</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-fonatel   solo_numeros" id="txtCantidadIndicadoresFormulario" placeholder="Cantidad de Indicadores">
                        <small id="txtCantidadIndicadoresFormularioHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-sm-12 col-sm-offset-0">
            <div class="form-group row">
                <label for="txtDescripcionFormulario" class="col-sm-12 col-form-label">Descripción</label>
                <div class="col-sm-12">
                    <textarea id="txtDescripcionFormulario" class="form-control form-control-fonatel" placeholder="Mensaje"></textarea>
                    <small id="txtDescripcionFormularioHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">

        <div class="col-lg-12 text-center">

            <button type="submit" id="btnGuardarFormulario" class="btn btn-fonatel  btn-success-fonatel">@Etiquetas.BotonGuardar</button>
            <button type="submit" id="btnSiguienteFormulario" class="btn btn-fonatel btn-next-fonatel">@Etiquetas.BotonSiguiente</button>
            <button type="submit" id="btnCancelarFormulario" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>

        </div>
    </div>
</form>

