@using GB.SIMEF.Resources;

<div class="table-responsive table-wrapper-fonatel">

    <table id="TablaFormulario" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>@EtiquetasViewFormulario.Codigo</th>
                <th>@EtiquetasViewFormulario.Nombre</th>
                <th>@EtiquetasViewFormulario.Indicador</th>
                <th>@EtiquetasViewFormulario.FrecuenciaEnvio</th>
                <th>@EtiquetasViewFormulario.Estado</th>
                <th>@EtiquetasViewFormulario.Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>


        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
            </tr>

        </tfoot>

    </table>

</div>
