@using GB.SIMEF.Resources;

@{
    ViewBag.Title = Etiquetas.Formulario;
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

@section scripts {
 @*  @Scripts.Render("~/bundles/FONATEL/FormularioWeb")*@
}
<script>
    const consultasFonatel = @ViewBag.ConsultasFonatel;
</script>
<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Etiquetas.Formulario</li>
            </ol>
        </nav>
    </div>
    <div id="FormularioIndex" class="row">
        <div class="col-lg-12 mt-4">
            <h2 class="page-title-fonatel text-center">@Etiquetas.Formulario</h2>
            <hr />
        </div>
        <div class="col-lg-12 mt-4">
            <a class="btn btn-fonatel btn-success-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonCrear" alt="@Etiquetas.BotonCrear" href="@Url.Action( "create","FormularioWeb")">@Etiquetas.BotonCrear</a>
        </div>

        <div class="col-lg-12 mt-4">
            @Html.Partial("_TablaFormularios")
        </div>

    </div>

</div>


<script src="~/Scripts/Fonatel/JsFormularios.js"></script>
