@using GB.SIMEF.Resources;

@{
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}
<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item active"><a href="/Fonatel/FormularioWeb/index">@Etiquetas.Formulario</a></li>
                <li class="breadcrumb-item active" aria-current="page">Visualizar
            </ol>
        </nav>
    </div>




    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-title-fonatel text-center">Visualizar Estado Programa</h2>
            <hr />
        </div>
    </div>
    @if (ViewBag.ListaDetalle.Count == 0)
    {
        @*
            <ul class="nav nav-tabs nav-tabs-fonatel mt-4">
                <li id="0"> <a data-toggle="tab" href="#">No hay información</a></li>
            </ul>
        *@
        <div id="0" class="tab-pane fade in active">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtCantidadRegistroIndicador" class="col-sm-12 col-form-label">@EtiquetasViewRegistroIndicadorFonatel.CantidadFilas</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-fonatel solo_numeros" disabled id="txtCantidadRegistroIndicador" placeholder="Cantidad de Filas">
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mt-4">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txtDescripcionRegla" class="col-form-label">@EtiquetasViewRegistroIndicadorFonatel.NotasEncargado</label>
                            <textarea class="form-control form-control-fonatel textarea" disabled id="txtDescripcionRegla" placeholder="Notas"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="txtDescripcionRegla" class="col-form-label">@EtiquetasViewRegistroIndicadorFonatel.NotasInformante</label>
                            <textarea class="form-control form-control-fonatel textarea" id="txtDescripcionRegla" placeholder="Notas"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 text-center mb-2" style="display: flow-root;">
                    <button id="btnDescargarPlantillaRegistro" data-toggle="tooltip" data-placement="top" title="Descargar" class="btn btn-fonatel btn-purple-fonatel">Descargar plantilla</button>
                    <button id="btnCargarPlantillaRegistro" data-toggle="tooltip" data-placement="top" title="Cargar" class="btn btn-fonatel btn-success-fonatel">Cargar plantilla</button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-12 text-center">
                    <button type="submit" id="btnGuardarRegistroIndicador" data-toggle="tooltip" data-placement="top" title="Guardar" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
                    <button type="submit" id="btnValidarRegistroIndicador" data-toggle="tooltip" data-placement="top" title="Validar" class="btn btn-fonatel btn-next-fonatel">@Etiquetas.BotonValidar</button>
                    <button type="submit" id="btnCancelarRegistroIndicador" data-toggle="tooltip" data-placement="top" title="Cancelar" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
                </div>
            </div>
        </div>
    }

    <ul class="nav nav-tabs nav-tabs-fonatel mt-4">
        @for (int i = 0; i < ViewBag.ListaDetalle.Count; i++)
        {
            string activo = "";
            if (i == 0) { activo = "active"; }
            <li class="@activo" id="@ViewBag.ListaDetalle[i].Indicador.idIndicador"> <a data-toggle="tab" href="#@i">@ViewBag.ListaDetalle[i].Indicador.Nombre</a></li>
        }
    </ul>

    <div class="tab-content">
        @for (int i = 0; i < ViewBag.ListaDetalle.Count; i++)
        {
            string clase = "tab-pane fade";
            if (i == 0) { clase = "tab-pane fade in active"; }

            <div id="@i" class="@clase">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="txtCantidadRegistroIndicador" class="col-sm-12 col-form-label">@EtiquetasViewRegistroIndicadorFonatel.CantidadFilas</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-fonatel solo_numeros" id="txtCantidadRegistroIndicador" placeholder="Cantidad de Filas">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-4">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtDescripcionRegla" class="col-form-label">@EtiquetasViewRegistroIndicadorFonatel.NotasEncargado</label>
                                <textarea class="form-control form-control-fonatel textarea" disabled id="txtDescripcionRegla" placeholder="Notas">@ViewBag.ListaDetalle[i].NotasEncargado</textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="txtDescripcionRegla" class="col-form-label">@EtiquetasViewRegistroIndicadorFonatel.NotasInformante</label>
                                <textarea class="form-control form-control-fonatel textarea" id="txtDescripcionRegla" placeholder="Notas"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 text-center mb-2" style="display: flow-root;">
                        <button id="btnDescargarPlantillaRegistro" data-toggle="tooltip" data-placement="top" title="Descargar" class="btn btn-fonatel btn-purple-fonatel">Descargar plantilla</button>
                        <button id="btnCargarPlantillaRegistro" data-toggle="tooltip" data-placement="top" title="Cargar" class="btn btn-fonatel btn-success-fonatel">Cargar plantilla</button>
                    </div>
                </div>

                <div class="table-responsive table-wrapper-fonatel">
                    <table class="dataTable table-bordered table-condensed table-hover hidden" id="tablaIndicador">
                        <thead>
                            <tr>
                                <th style="min-width:30PX">  </th>
                                <th style="min-width:160PX" class="highlighted" scope="col">Cantidad de torres</th>
                                <th style="min-width:160PX" class="name-col" scope="col">Nombre</th>
                                <th style="min-width:160PX" class="date-col" scope="col">Fecha PES</th>
                                <th style="min-width:160PX" scope="col">Código de distrito</th>
                                <th style="min-width:160PX" scope="col">Longitud</th>
                                <th style="min-width:160PX" scope="col">Latitud</th>
                                <th style="min-width:160PX" scope="col">Tipo de zona</th>
                                <th style="min-width:160PX" scope="col">Región</th>
                                <th style="min-width:160PX" scope="col">Operador</th>
                                <th style="min-width:160PX" scope="col">Estado</th>
                                <th style="min-width:160PX" scope="col">APs en servicio</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-12 text-center">
                        <button type="submit" id="btnGuardarRegistroIndicador" data-toggle="tooltip" data-placement="top" title="Guardar" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
                        <button type="submit" id="btnValidarRegistroIndicador" data-toggle="tooltip" data-placement="top" title="Validar" class="btn btn-fonatel btn-next-fonatel">@Etiquetas.BotonValidar</button>
                        <button type="submit" id="btnCancelarRegistroIndicador" data-toggle="tooltip" data-placement="top" title="Cancelar" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
                    </div>
                </div>
            </div>

        }
    </div>

    <hr />

    <div class="row mt-4">
        <div class="col-sm-12 text-center">
            <button type="submit" id="btnCargaRegistroIndicador" data-toggle="tooltip" data-placement="top" title="Cargar" class="btn btn-fonatel btn-info-fonatel">@Etiquetas.BotonCargar</button>
        </div>
    </div>
</div>


<script src="~/Scripts/Fonatel/JsRegistroIndicadores.js"></script>
