@using GB.SIMEF.Resources;

@{
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

<div class="container body-content">
    <input type="hidden" id="dad1f560">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item active"><a href="/Fonatel/FormularioWeb/index">@Etiquetas.Formulario</a></li>
                <li class="breadcrumb-item active" aria-current="page">@EtiquetasViewFormulario.TituloPantalla
            </ol>
        </nav>
    </div>

    <div class="stepwizard">
        <div class="stepwizard-row setup-panel step_navigation_indicador">
            <div class="stepwizard-step" data-step="0">
                <p>@EtiquetasViewFormulario.TituloStepperPaso1Visualizacion</p>
                <a href="#step-1" type="button" class="btn btn-circle" disabled>1</a>
            </div>
            <div class="stepwizard-step" data-step="1">
                <p>@EtiquetasViewFormulario.TituloStepperPaso2Visualizacion</p>
                <a href="#step-2" type="button" class="btn btn-circle" disabled>2</a>
            </div>
        </div>
    </div>

    <div class="row stepwizard-content-container hidden" id="step-1">
        <div class="col-lg-12">
            <h2 class="page-title-fonatel text-center">@EtiquetasViewFormulario.TituloPaso1Visualizacion</h2>
            <hr />
        </div>
        <div class="col-lg-12">
            @Html.Partial("_CrearVisualizarFormulario")
        </div>
        <div class="col-lg-12">
            @Html.Partial("_TablaVisualizarIndicador")
        </div>

        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="text-center">
                    <button type="button" id="btnSiguiente" class="btn btn-fonatel btn-next-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonSiguiente">@Etiquetas.BotonSiguiente</button>
                    <button type="button" id="btnCancelar" class="btn btn-fonatel btn-error-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonCancelar">@Etiquetas.BotonCancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row stepwizard-content-container hidden" id="step-2">
        <div class="col-lg-12">
            <h2 class="page-title-fonatel text-center">@ViewData["TituloFormulario"]</h2>
            <hr />
        </div>
        <div class="col-lg-12">
            @Html.Partial("_CrearPrevisualizarFormulario")
        </div>

        <div class="row mt-4">
            <div class="col-12 pull-right mt-4">
                <button type="button" id="btnAtras" class="btn btn-fonatel btn-goback" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonAtras">
                    <span aria-hidden="true"></span>@Etiquetas.BotonAtras
                </button>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/Fonatel/JsFormularios.js"></script>