@using GB.SIMEF.Resources;

<div class="table-responsive table-wrapper-fonatel" style="min-width:300px">
    <table id="TableBitacoraFonatel" class="dataTable datatable_simef table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewBitacora.Pantalla</th>
                <th scope="col">@EtiquetasViewBitacora.Usuario</th>
                <th scope="col">@EtiquetasViewBitacora.Accion</th>
                <th scope="col">@EtiquetasViewBitacora.ElementoAfectado</th>
                <th scope="col">@EtiquetasViewBitacora.Fecha</th>
                <th scope="col">@EtiquetasViewBitacora.Hora</th>
                <th scope="col">@EtiquetasViewBitacora.Codigo</th>
                <th scope="col">@EtiquetasViewBitacora.ValorInicial</th>
                <th scope="col">@EtiquetasViewBitacora.ValorAnterior</th>
                <th scope="col">@EtiquetasViewBitacora.ValorActual</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
                <th></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
            </tr>
        </tfoot>
    </table>
</div>

