@using GB.SIMEF.Resources;

@{
    ViewBag.Title = Etiquetas.Bitacora;
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

<script>
    const consultasFonatel = @ViewBag.ConsultasFonatel;
</script>

@section scripts {
  @* @Scripts.Render("~/bundles/FONATEL/BitacoraFonatel")*@
}

<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Etiquetas.Bitacora</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title-fonatel text-center">@Etiquetas.Bitacora</h2>
            <hr />
        </div>
        <div class="col-sm-12 mt-5">
            @Html.Partial("_BusquedaBitacora")

        </div>
        <div class="col-sm-12 mt-5">
            @Html.Partial("_TablaBitacora")
        </div>
    </div>

</div>
<script src="~/Scripts/Fonatel/JsBitacoraFonatel.js"></script>