@model List<GB.SUTEL.Entities.Usuario>
@using GB.SUTEL.UI.Helpers;
@{
    bool editar = rolValidation.ValidateScreenFunctions(this.Context, "Usuarios", "Editar");
    bool eliminar = rolValidation.ValidateScreenFunctions(this.Context, "Usuarios", "Eliminar");
}
@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        <span>@ViewBag.Error.Id</span>
        <span>@ViewBag.Error.Message</span>
    </div>
}


@if (!rolValidation.ValidateScreenFunctions(this.Context, "Usuarios", "Consultar"))
{
    <div class="alert alert-warning" role="alert">
        @GB.SUTEL.Resources.Resources.SinPermisosIndex
    </div>
}
else
{

    <table class="display" cellspacing="0" data-table-grid="true" data-tabla-ajax-url="/Rol/Buscar">
        <thead>
            <tr>
                <th width="1%">Nombre</th>
                <th width="1%">Usuario</th>
                <th width="1%">Correo</th>
                <th width="1%">Operador</th>
                <th width="1%">Estado</th>
                @if (eliminar)
                {
                    <th width="1%" class="no-sort" style="min-width:40px;"></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        @if (editar)
                        {
                            <td onclick="editRedirect('@Url.Action("Editar","Usuarios")','@item.IdUsuario')">
                                @item.NombreUsuario
                            </td>
                            <td onclick="editRedirect('@Url.Action("Editar","Usuarios")','@item.IdUsuario')">
                                @item.AccesoUsuario
                            </td>
                            <td onclick="editRedirect('@Url.Action("Editar","Usuarios")','@item.IdUsuario')">
                                @(item.CorreoUsuario == "Undefined" ? "" : item.CorreoUsuario)
                            </td>
                            <td onclick="editRedirect('@Url.Action("Editar","Usuarios")','@item.IdUsuario')">
                                @(item.IdOperador == null ? "SUTEL" : item.Operador.NombreOperador)
                            </td>
                            <td onclick="editRedirect('@Url.Action("Editar","Usuarios")','@item.IdUsuario')">
                                @{if (item.Activo == 1)
                                    { <span>Activo</span>}
                                    else
                                    {<span>Inactivo</span>}
                                }
                            </td>
                        }
                        else
                        {
                            <td>
                                @item.NombreUsuario
                            </td>
                            <td>
                                @item.AccesoUsuario
                            </td>
                            <td>
                                @item.CorreoUsuario
                            </td>
                            <td>
                                @(item.UsuarioInterno == 1 ? "" : item.Operador.NombreOperador)
                            </td>
                            <td>
                                @{if (item.Activo == 1)
                                    { <span>Activo</span>}
                                    else
                                    {<span>Inactivo</span>}
                                }
                            </td>
                        }
                        @if (eliminar || editar)
                        {

                            <td>
                                @if (eliminar)
                                {
                                    <button type="button" class="btn btn-danger btn-sm btnEliminar" aria-label="Left Align" data-toggle="modal" data-target="#modalEliminar"
                                            data-select="true"
                                            data-json-selected='{"IdUsuario":"@item.IdUsuario", "NombreUsuario":"@item.AccesoUsuario"}'>

                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                }
                                @if (editar)
                                {
                                    <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" data-toggle="modal" data-target="#modalRol"
                                            data-select="true"
                                            data-json-selected='{"IdUsuario":" @item.IdUsuario", "NombreUsuario":" @item.NombreUsuario", "Roles":[@{
                                        var sep=","; var cont=0;
                                    foreach(var rol in @item.Rol){
                                        cont++;
                                    @rol.IdRol;
                                        if(cont<item.Rol.Count){@sep }
                                    }}]}'>

                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                    </button>
                                }
                            </td>
                        }

                    </tr>
                }
            }
            else
            {
                <tr><td colspan="3">No se encontraron datos</td></tr>
            }

        </tbody>

        <tfoot>

            <tr>
                <th colspan="5">
                    <form id="frmFilterUsuario" method="post"
                          action="@Url.Action("_table")" data-ajax="true" data-ajax-target="#tablaUsuarios"
                          data-ajax-message="Cargando datos desde index...">
                        @Html.AntiForgeryToken()
                        <input placeholder="Nombre" name="NombreUsuario" value="@(ViewBag.searchTerm.NombreUsuario == null ? "" : ViewBag.searchTerm.NombreUsuario)" />

                        <input placeholder="Usuario" name="AccesoUsuario" value="@(ViewBag.searchTerm.AccesoUsuario == null ? "" : ViewBag.searchTerm.AccesoUsuario)" />
                        <input placeholder="Correo" name="CorreoUsuario" value="@(ViewBag.searchTerm.CorreoUsuario == null ? "" : ViewBag.searchTerm.CorreoUsuario)" />
                    </form>
                </th>
                @if (eliminar)
                {
                    <th></th>
                }
            </tr>
        </tfoot>
    </table>
}