@using GB.SIMEF.Resources;
@model GB.SIMEF.Entities.Solicitud



<form id="formCrearSolicitud">

    <!--   TEXTO PARA SABER EL MODO AGREGAR O EDITAR -->
    @Html.Hidden("txtmodo", (string)ViewBag.Modo)

    <!-- TEXTO PARA ENCRIPTAR ID Y PARA EL EDITAR-->
    @Html.HiddenFor(model => model.id, new { id = "txtidsolicitud" })

    <div class="row mt-5">
        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">
            <div class="justify-content-center">



                <div class="form-group row">
                    <label for="txtCodigo" class="col-sm-12 col-form-label">@EtiquetasViewSolicitudes.Codigo</label>
                    <div class="col-sm-12">


                        @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control form-control-fonatel alfa_numerico", placeholder = EtiquetasViewSolicitudes.Codigo, id = "txtCodigo" } })
                        <small id="CodigoHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtNombre" class="col-sm-12 col-form-label">@EtiquetasViewSolicitudes.Nombre</label>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control form-control-fonatel alfa_numerico", placeholder = EtiquetasViewSolicitudes.Nombre, id = "txtNombre" } })
                        <small id="nombreHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtFechaInicio" class="col-sm-12 col-form-label">@EtiquetasViewSolicitudes.FechaInicio</label>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.FechaInicio, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control form-control-fonatel", placeholder = EtiquetasViewSolicitudes.FechaInicio, id = "txtFechaInicio"} })
                        <small id="FechaInicioHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="txtFechaFin" class="col-sm-12 col-form-label">@EtiquetasViewSolicitudes.FechaFin</label>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.FechaFin, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control form-control-fonatel", placeholder = EtiquetasViewSolicitudes.FechaFin, id = "txtFechaFin" } })

                        <small id="FechaFinHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">
            <div class="justify-content-center">


                <div class="form-group row">
                    <label for="ddlFuentes" class="col-sm-12 col-form-label ">@EtiquetasViewSolicitudes.Fuente</label>
                    <div class="col-sm-12">
                        <div class="select2-wrapper">
                            @Html.DropDownListFor(model => model.idFuente, new SelectList(ViewBag.ListaFuentes, "idFuente", "Fuente"), "Seleccione", new { @class = "listasDesplegables", id = "ddlFuentes" })
                        </div>
                        <small id="FuentesHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>



                <div class="form-group row">
                    <label for="txtCantidadFormularios" class="col-sm-12 col-form-label ">@EtiquetasViewSolicitudes.CantidadFormularios</label>
                    <div class="col-sm-12">

                        @Html.EditorFor(model => model.CantidadFormularios, new { htmlAttributes = new { @class = "form-control form-control-fonatel", placeholder = EtiquetasViewSolicitudes.CantidadFormularios, id = "TxtCantidadFormulario" } })
                        <small id="FormulariosHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="ddlMesSolicitud" class="col-sm-12 col-form-label ">@EtiquetasViewSolicitudes.Mes</label>
                    <div class="select2-wrapper">
                        <div class="col-sm-12">
                            @Html.DropDownListFor(model => model.idMes, new SelectList(ViewBag.ListaMes, "idMes", "Nombre"), "Seleccione", new { @class = "listasDesplegables", id = "ddlMesSolicitud" })
                        </div>
                        <small id="ddlMesSolicitudHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>



                <div class="form-group row">
                    <label for="ddlAnoSolicitud" class="col-sm-12 col-form-label ">@EtiquetasViewSolicitudes.Anno</label>
                    <div class="select2-wrapper">
                        <div class="col-sm-12">


                            @Html.DropDownListFor(model => model.idAnno, new SelectList(ViewBag.ListaAnno, "idAnno", "Nombre"), "Seleccione", new { @class = "listasDesplegables", id = "ddlAnoSolicitud" })
                        </div>
                        <small id="ddlAnoSolicitudHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 ">
            <div class="form-group row">
                <label for="txtMensajeSolicitud" class="col-sm-12 col-form-label">@EtiquetasViewSolicitudes.Mensaje</label>
                <div class="col-sm-12">
                    @Html.EditorFor(model => model.Mensaje, new { htmlAttributes = new { @class = "form-control form-control-fonatel", placeholder = EtiquetasViewSolicitudes.Mensaje, id = "txtMensajeSolicitud" } })
                    <small id="txtMensajeSolicitudHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12 text-center">

            <button type="submit" id="btnGuardarSolicitud" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>


            <button type="submit" id="btnSiguienteSolicitud" class="btn btn-fonatel btn-next-fonatel">@Etiquetas.BotonSiguiente</button>


            <button type="submit" id="btnCancelarSolicitud" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>

        </div>
    </div>
</form>

