
@using GB.SIMEF.Resources;

<div class="table-responsive table-wrapper-fonatel">

    <table id="TablaSolicitud" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th style ='max-width:80px'>@EtiquetasViewSolicitudes.Codigo</th>
                <th style ='max-width:80px'>@EtiquetasViewSolicitudes.Nombre</th>
                <th style ='max-width:90px'>@EtiquetasViewSolicitudes.Fuente</th>
                <th style ='max-width:160px'>@EtiquetasViewSolicitudes.Formulario</th>
                <th style ='max-width:90px'>@EtiquetasViewSolicitudes.Envio</th>
                <th style ='max-width:30px'>@Etiquetas.Estado</th>
                <th style="min-width:280px" class="noExport">@Etiquetas.Acciones</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
            </tr>

        </tfoot>

    </table>

</div>
