@using GB.SIMEF.Resources;

@{
    ViewBag.Title = ViewBag.titulo;
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

@section scripts {
   @* @Scripts.Render("~/bundles/FONATEL/SolicitudFonatel")*@
}

<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item active"><a href="/Fonatel/SolicitudFonatel/index">@EtiquetasViewSolicitudes.Solicitudes</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.titulo </li>
            </ol>
        </nav>
    </div>



    <div class="stepwizard">
        <div class="stepwizard-row setup-panel step_navigation_indicador">
            <div class="stepwizard-step" data-step="0">
                <p>@EtiquetasViewSolicitudes.Solicitudes</p>
                <a href="#step-1" type="button" class="btn btn-circle">1</a>

            </div>
            <div class="stepwizard-step" data-step="1">
                <p>@EtiquetasViewSolicitudes.Formularios</p>
                <a href="#step-2" type="button" class="btn btn-circle">2</a>

            </div>
        </div>
    </div>






    <div class="row mt-5">
        <div class="col-lg-12 stepwizard-content-container hidden" id="step-1">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-title-fonatel text-center">@ViewBag.titulo</h2>
                    <hr />
                </div>
                <div class="col-lg-12">
                    @Html.Partial("_CrearSolicitud")
                </div>
            </div>
        </div>

        <div class="col-lg-12 stepwizard-content-container hidden" id="step-2">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-title-fonatel text-center">@EtiquetasViewSolicitudes.Formulario</h2>
                    <hr />
                </div>
                <div class="col-lg-12">
                    @Html.Partial("_AgregarFormulario")
                </div>
                <div class="col-lg-12 mt-4">
                    @Html.Partial("_TablaFormularios")
                </div>

                <div class="col-lg-12 text-center">



                    @if (Model.CantidadFormularios == ViewBag.ListaFormularioWeb.Count)
                    {
                        if (Model.CantidadFormularios == Model.FormularioWeb.Count)
                        {
                            <button type="submit" id="btnFinalizarSolicitud" class="btn btn-fonatel btn-info-fonatel">@Etiquetas.BotonFinalizar</button>
                        }
                        else
                        {
                             <button type="submit" id="btnFinalizarSolicitud" disabled class="btn btn-fonatel btn-info-fonatel">@Etiquetas.BotonFinalizar</button>
                        }

                        

                    }
                    else
                    {
                        <button type="submit" id="btnFinalizarSolicitud" disabled class="btn btn-fonatel btn-info-fonatel">@Etiquetas.BotonFinalizar</button>
                    }



                </div>
                <div class="col-12 pull-right mt-4">
                    <button type="button" id="btnAtrasSolicitud" class="btn btn-fonatel btn-goback" aria-label="Left Align">
                        <span aria-hidden="true"></span>@Etiquetas.BotonAtras
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>











<script src="~/Scripts/Fonatel/JsSolicitud.js"></script>