@using GB.SIMEF.Resources;

@{
    ViewBag.Title = ViewBag.titulo;
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

@section scripts {
    @*@Scripts.Render("~/bundles/FONATEL/SolicitudFonatel")*@
}

<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item active"><a href="/Fonatel/SolicitudFonatel/index">@EtiquetasViewSolicitudes.Solicitudes</a></li>
                <li class="breadcrumb-item active" aria-current="page">@EtiquetasViewSolicitudes.Visualizacion </li>
            </ol>
        </nav>
    </div>

    <div class="mt-5">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-title-fonatel text-center">@EtiquetasViewSolicitudes.Visualizacion</h2>
                <hr />
            </div>
            <div class="col-lg-12">
                @Html.Partial("_VisualizaSolicitud")
            </div>
            <div class="col-sm-12 text-center mt-2">
                <button type="submit" id="btnCancelarSolicitud" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonCancelar" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
            </div>
            <div class="col-lg-12 mt-3">
                @Html.Partial("_TablaVisualizaFormularios")
            </div>
        </div>
    </div>
</div>











<script src="~/Scripts/Fonatel/JsSolicitud.js"></script>