@using GB.SIMEF.Resources;

<form>
    <div class="row">
        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0" >
            <div class="justify-content-center">
                <div class="form-group row">
                    <label for="txtNombre" class="col-sm-12 col-form-label">Nombre</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-fonatel" id="txtNombre" placeholder="Nombre de Categoría">
                        <small id="nombreHelp" class="form-text  form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtCodigo" class="col-sm-12 col-form-label">Código</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-fonatel" id="txtCodigo" placeholder="Codigo">
                        <small id="CodigoHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ddlTipoCategoría" class="col-sm-12 col-form-label ">Tipo Categoría</label>
                    <div class="col-sm-12">
                        <div class="select2-wrapper">
                            <select class="listasDesplegables" aria-label="Default select example" id="ddlTipoCategoría">
                                <option></option>
                                <option value="1">id único</option>
                                <option value="2">atributo</option>
                                <option value="3">actualizable</option>
                            </select>
                        </div>
                        <small id="TipoCategoríaHelp" class="form-text  form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">
            <div class="form-group row">
                <label for="ddlTipoDetalleCategoría" class="col-sm-12 col-form-label">Tipo Detalle</label>
                <div class="col-sm-12">
                    <div class="select2-wrapper">
                        <select class="listasDesplegables" aria-label="Default select example" id="ddlTipoDetalleCategoría">
                            <option></option>
                            <option value="1">numérico</option>
                            <option value="2">alfanumérico</option>
                            <option value="3">texto</option>
                            <option value="4">fecha</option>
                        </select>
                        </div>
                    <small id="TipoCategoríaHelp" class="form-text  form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>
            <div class="form-group row hidden" id="divCantidadDetalleCategoría">
                <label for="txtCantidadDetalleCategoría" class="col-sm-12 col-form-label">Cantidad Detalle</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-fonatel solo_numeros" id="txtCantidadDetalleCategoría" placeholder="Cantidad Detalle">
                    <small id="CantidadDetalleCategoríaHelp" class="form-text  form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                </div>
            </div>

            <div class="form-group row hidden" id="divFechaMinimaCategoría">
                <label for="txtFechaMinimaCategoría" class="col-sm-12 col-form-label">Fecha Inicio</label>
                <div class="col-sm-12">
                    <input type="date" class="form-control form-control-fonatel" id="txtFechaMinimaCategoría" placeholder="Fecha de Inicio">
                    <small id="FechaMinimaCategoríaHelp" class="form-text  form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                </div>
            </div>


            <div class="form-group row hidden" id="divFechaMaximaCategoría">
                <label for="txtFechaMaximaCategoría" class="col-sm-12 col-form-label">Fecha Final</label>
                <div class="col-sm-12">
                    <input type="date" class="form-control form-control-fonatel" id="txtFechaMaximaCategoría" placeholder="Fecha de Fin">
                    <small id="FechaMaximaCategoríaHelp" class="form-text  form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                </div>
            </div>

            <div class="form-group row hidden" id="divRangoMinimaCategoría">
                <label for="txtRangoMinimaCategoría" class="col-sm-12 col-form-label">Valor Mínimo</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-fonatel solo_numeros" id="txtRangoMinimaCategoría" placeholder="Rango de Inicio">
                    <small id="RangoMinimaCategoríaHelp" class="form-text  form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                </div>
            </div>

            <div class="form-group row hidden" id="divRangoMaximaCategoría">
                <label for="txtRangoMaximaCategoría" class="col-sm-12 col-form-label">Valor Máximo</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-fonatel solo_numeros" id="txtRangoMaximaCategoría" placeholder="Valor Máximo">
                    <small id="RangoMaximaCategoríaHelp" class="form-text  form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
                </div>
            </div>

        </div>

    </div>
    <div class="row mt-5">
        <div class="col-sm-12 text-center">
            <button id="btnGuardarCategoría"  class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
            <button type="submit" id="btnCancelarCategoría" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
        </div>
    </div>
</form>

