@using GB.SIMEF.Resources;
@model GB.SIMEF.Entities.CategoriaDesagregacion
<form>
    <div class="row">

        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">
            <div class="form-group row">
                <label for="txtCodigoDetalle" class="col-sm-12 col-form-label">@EtiquetasViewCategorias.Codigo</label>
                <div class="col-sm-12">
                    <input type="number" class="form-control form-control-fonatel  " id="txtCodigoDetalle" placeholder="@EtiquetasViewCategorias.Codigo">
                    <small id="txtCodigoDetalleHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">
            <div class="form-group row">
                <label for="txtEtiquetaDetalle" class="col-sm-12 col-form-label">@EtiquetasViewCategorias.Etiqueta</label>
                <div class="col-sm-12">
                    @if (Model.IdTipoDetalleCategoria == (int)Constantes.TipoDetalleCategoriaEnum.Alfanumerico)
                    {
                        <input type="text" maxlength="2000" class="form-control form-control-fonatel alfa_numerico" id="txtEtiquetaDetalle" placeholder="@EtiquetasViewCategorias.Etiqueta">
                    }
                    else
                    {
                        <input type="text" maxlength="2000" class="form-control form-control-fonatel solo_texto" id="txtEtiquetaDetalle" placeholder="@EtiquetasViewCategorias.Etiqueta">
                    }

                    <small id="txtEtiquetaDetalleHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                </div>
            </div>
        </div>


    </div>
    <div class="row mt-5">
        <div class="col-lg-12 text-center">

            <button type="submit" class="btn btn-fonatel btn-success-fonatel" disabled id="btnGuardarDetalleCategoria" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonGuardar">@Etiquetas.BotonGuardar</button>
            <button type="submit" class="btn btn-fonatel btn-error-fonatel" id="btnCancelarDetalleCategoria" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonCancelar">@Etiquetas.BotonCancelar</button>

        </div>
    </div>
</form>
<script>
    // Obtén los campos por su ID
    const field1 = document.getElementById("txtCodigoDetalle");
    const field2 = document.getElementById("txtEtiquetaDetalle");
    // Agrega un evento al documento que se activará cuando se presione una tecla
    document.addEventListener("keydown", (event) => {
        // Verifica si la tecla presionada es Enter
        if (event.keyCode === 13) {

            // Determina a cuál campo se debe desplazar verticalmente
            let targetElement;
            if (document.activeElement === field1) {
                field2.focus();
            } else {
                field1.focus();
            }
            // Evita el comportamiento predeterminado del botón Enter (que es enviar un formulario)
            event.preventDefault();
        }
    });
</script>