@using GB.SIMEF.Resources;
@model GB.SIMEF.Entities.CategoriaDesagregacion




<div class="row">

    <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">
        <div class="justify-content-center">

            <div class="form-group row">
                <label for="txtNombreCategoria" class="col-sm-12 col-form-label">@EtiquetasViewCategorias.Nombre</label>
                <div class="col-sm-12">                  
                    @Html.EditorFor(model => model.NombreCategoria, new { htmlAttributes = new { @class = "form-control form-control-fonatel alfa_numerico", @maxlength = "500", placeholder = EtiquetasViewCategorias.Nombre, id = "txtNombreCategoria" } })
                    <small id="txtnombreCategoriaHelp" class="form-text  form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtCodigo" class="col-sm-12 col-form-label">@EtiquetasViewCategorias.Codigo</label>
                <div class="col-sm-12">
                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control form-control-fonatel alfa_numerico", @maxlength = "30",placeholder = EtiquetasViewCategorias.Codigo, id = "txtCodigoCategoria" } })
                    <small id="txtCodigoCategoriaHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="ddlTipoCategoria" class="col-sm-12 col-form-label ">@EtiquetasViewCategorias.TipoCategoria</label>
                <div class="col-sm-12">
                    <div class="select2-wrapper">
                        @Html.DropDownListFor(model => model.IdTipoCategoria, new SelectList(ViewBag.TipoCategoria, "idTipoCategoria", "Nombre"), "Seleccione", new { @class = "listasDesplegables", id = "ddlTipoCategoria" })
                    </div>
                    <small id="ddlTipoCategoriaHelp" class="form-text  form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">
        <div class="form-group row">
            <label for="ddlTipoDetalleCategoria" class="col-sm-12 col-form-label">@EtiquetasViewCategorias.TipoDetalle</label>
            <div class="col-sm-12">
                <div class="select2-wrapper">
                    @Html.DropDownListFor(model => model.IdTipoDetalleCategoria, new SelectList(ViewBag.TipoDetalleCategoria, "IdTipoDetalleCategoria", "Nombre"), "Seleccione", new { @class = "listasDesplegables", id = "ddlTipoDetalleCategoria" })
                </div>
                <small id="ddlTipoDetalleCategoriaHelp" class="form-text  form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
            </div>
        </div>
        <div class="form-group row hidden" id="divCantidadDetalleCategoria">
            <label for="txtCantidadDetalleCategoria" class="col-sm-12 col-form-label">@EtiquetasViewCategorias.Cantidad</label>
            <div class="col-sm-12">

                @Html.EditorFor(model => model.CantidadDetalleDesagregacion, new { htmlAttributes = new { @class = "form-control form-control-fonatel solo_numeros", placeholder = EtiquetasViewCategorias.Cantidad, id = "txtCantidadDetalleCategoria" } })

                <small id="CantidadDetalleCategoriaHelp" class="form-text  form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

        <div class="form-group row hidden" id="divFechaMinimaCategoria">
            <label for="txtFechaMinimaCategoria" class="col-sm-12 col-form-label">@EtiquetasViewCategorias.FechaInicio</label>
            <div class="col-sm-12">
                @Html.EditorFor(model => model.DetalleCategoriaFecha.FechaMinima, new { htmlAttributes = new { @class = "form-control form-control-fonatel", @type = "date", id = "txtFechaMinimaCategoria" } })
                <small id="FechaMinimaCategoriaHelp" class="form-text  form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
            </div>
        </div>


        <div class="form-group row hidden" id="divFechaMaximaCategoria">
            <label for="txtFechaMinimaCategoria" class="col-sm-12 col-form-label">@EtiquetasViewCategorias.FechaHasta</label>
            <div class="col-sm-12">
                @Html.EditorFor(model => model.DetalleCategoriaFecha.FechaMaxima, new { htmlAttributes = new { @class = "form-control form-control-fonatel", @type = "date", id = "txtFechaMaximaCategoria" } })
                <small id="FechaMaximaCategoriaHelp" class="form-text  form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

        <div class="form-group row hidden" id="divRangoMinimaCategoria">
            <label for="txtRangoMinimaCategoría" class="col-sm-12 col-form-label">@EtiquetasViewCategorias.ValorMinimo</label>
            <div class="col-sm-12">
                @Html.EditorFor(model => model.DetalleCategoriaNumerico.Minimo, new { htmlAttributes = new { @class = "form-control form-control-fonatel", placeholder = EtiquetasViewCategorias.ValorMinimo, id = "txtRangoMinimaCategoria" } })
                <small id="RangoMinimaCategoriaHelp" class="form-text  form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

        <div class="form-group row hidden" id="divRangoMaximaCategoria">
            <label for="txtRangoMaximaCategoria" class="col-sm-12 col-form-label">@EtiquetasViewCategorias.ValorMáximo</label>
            <div class="col-sm-12">
                @Html.EditorFor(model => model.DetalleCategoriaNumerico.Maximo, new { htmlAttributes = new { @class = "form-control form-control-fonatel", placeholder = EtiquetasViewCategorias.ValorMáximo, id = "txtRangoMaximaCategoria" } })
                <small id="RangoMaximaCategoriaHelp" class="form-text  form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
            </div>
        </div>

    </div>

</div>
<div class="row mt-5">
    <div class="col-sm-12 text-center">
        <button id="btnGuardarCategoria" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonGuardar" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
        <button type="submit" id="btnCancelarCategoria" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonCancelar" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
    </div>
</div>

