@using GB.SIMEF.Resources;

<div class="table-wrapper-fonatel table-responsive">
    <table id="TableCategoriaDesagregacion" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewCategorias.Codigo</th>
                <th scope="col">@EtiquetasViewCategorias.Nombre</th>
                <th scope="col">@EtiquetasViewCategorias.Cantidad</th>
                <th scope="col">@Etiquetas.Estado</th>
                <th scope="col" class="noExport">@EtiquetasViewCategorias.Detalle</th>
                <th scope="col" style="min-width:150px" class="noExport">@EtiquetasViewCategorias.Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>

        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
                <th class="select2-wrapper"></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>

    </table>
</div>