@using GB.SIMEF.Resources;

@model GB.SIMEF.Entities.CategoriaDesagregacion


@{
    ViewBag.Title = Etiquetas.DetalleCategorias;
    Layout = "~/Views/Shared/_LayoutFONATEL.cshtml";
}

@section scripts {
    @*@Scripts.Render("~/bundles/FONATEL/CategoriaDesagregacion")*@
}

<div class="container body-content">

    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item"><a href="/CategoriasDesagregacion">@EtiquetasViewCategorias.Categorias</a></li>
                <li class="breadcrumb-item active" aria-current="page">@EtiquetasViewCategorias.DetalleAtributo</li>
            </ol>
        </nav>
    </div>


    <div id="FormularioDetalle" class="row">
        @Html.HiddenFor(model => model.id, new { id = "txtidCategoria" });
        <div class="col-lg-12">
            <h2 class="page-title-fonatel text-center">@EtiquetasViewCategorias.DetalleAtributo</h2>
            <hr />
        </div>
        <div class="col-lg-12">

            @Html.Partial("_CrearDetalle")
        </div>
        <div class="col-lg-12 mt-4">
            @Html.Partial("_TablaDetalleDesagregacion")
        </div>

        <div class="col-lg-12 mt-4 text-center">
            @*<button type="submit" id="btnAtrasCategoría" class="btn btn-fonatel btn-info-fonatel">Atras</button>*@
            <button type="submit" id="btnFinalizarDetalleCategoria" disabled class="btn btn-fonatel btn-info-fonatel" data-toggle="tooltip" data-placement="top" title="@Etiquetas.BotonFinalizar">@Etiquetas.BotonFinalizar</button>
        </div>
    </div>

</div>
<script src="~/Scripts/Fonatel/JsCategoria.js"></script>
