@model GB.SUTEL.Entities.TipoIndicador


<form method="post" id="formCrearTipoIndicador"
      action="@Url.Action("Crear")" data-ajax="true"
      data-ajax-message="Cargando datos..." data-ajax-onsuccess="onsuccessAjaxCrearTipoIndicador">

    <div class="modal fade" id="modalCrearTipoIndicador">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crear Tipo Indicador</h4>
                </div>
                <div class="modal-body">

                    <div class="form-horizontal">
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">

                            @Html.LabelFor(model => model.DesTipoInd, new { @class = "col-md-3 control-label", @for = "txtIDNombreTipoIndicadorCrear" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.DesTipoInd, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre", @id = "txtIDNombreTipoIndicadorCrear" } })                                
                                </br>@Html.ValidationMessageFor(model => model.DesTipoInd, "", new { @class = "text-danger" })

                                </br>
                                <div class="alert alert-danger col-sm-9" hidden role="alert" id="divMensajeErrorCrearTipoIndicador">
                                    <strong>Error!</strong> El nombre ya existe.
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Crear" class="btn btn-success" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>                    
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</form>
<script type="text/javascript">
    $('#modalCrearTipoIndicador').on('hidden.bs.modal', function (e) {
        $("#txtIDNombreTipoIndicadorCrear").val('');
        
    });

    /* Determina comportamiento al hacer submit */
    $(document).ready(function () {

        function onSuccessCrearTipoIndicador(data) {

            data = JSON.parse(data);

            if (data.ok === "True") {
                $("#modalCrearTipoIndicador").modal('hide');
                addSuccess({ msg: "La información se agregó con éxito" });
                $("#frmFilterTipoIndicador")[0].reset();
                $("#frmFilterTipoIndicador").submit();

            } else {
                $("#divMensajeErrorCrearTipoIndicador").show();
            }
        }
        function onFailureCrearTipoIndicador(error) {

        }
        // pasa el id del form de crear
        // pasa la función a ejecutar si todo está bien
        // pasa la función a ejecutar si hay errores
        AjaxifyMyForm("formCrearTipoIndicador",
            onSuccessCrearTipoIndicador,
            onFailureCrearTipoIndicador);
    });

</script>