@model List<GB.SUTEL.Entities.Servicio>
@using GB.SUTEL.UI.Helpers;
@{
    bool editar = rolValidation.ValidateScreenFunctions(this.Context, "Servicio Indicador", "Editar");
    bool eliminar = rolValidation.ValidateScreenFunctions(this.Context, "Servicio Indicador", "Eliminar");
}
@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        <span>@ViewBag.Error</span>
    </div>
}


@if (!rolValidation.ValidateScreenFunctions(this.Context, "Servicio Indicador", "Consultar"))
{
    <div class="alert alert-warning" role="alert">
        @GB.SUTEL.Resources.Resources.SinPermisosIndex
    </div>
}
else
{
    <form id="formFilter" method="post" action="@Url.Action("_table")" data-ajax="true" data-ajax-message="Cargando datos desde index...">
        @Html.AntiForgeryToken()
        <table class="display" cellspacing="0" data-table-grid="true">
            <thead>
                <tr>
                    <th width="1%">Servicio</th>
                    <th width="1%">Indicador</th>
                    <th width="1%">Dirección</th>
                    @if (eliminar)
                    {
                        <th width="1%" class="no-sort" style="min-width:40px;"></th>
                    }

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        foreach (var itemIndicador in item.Indicador)
                        {
                           // foreach (var item2 in itemIndicador.Indicador)
                            //{


                                <tr>
                                    @if (editar)
                                    {
                                        <td @*onclick="editRedirect('@Url.Action("Editar","ServicioIndicador")','@item.IdServicio')"*@>@item.DesServicio</td>
                                        <td @*onclick="editRedirect('@Url.Action("Editar", "ServicioIndicador")','@item.IdServicio')"*@>@itemIndicador.NombreIndicador</td>
                                        <td @*onclick="editRedirect('@Url.Action("Editar", "ServicioIndicador")','@item.IdServicio')"*@>
                                            @if (itemIndicador.Direccion.Count > 0)
                                            {
                                                var last = itemIndicador.Direccion.Last();
                                                foreach (var itemDireccion in itemIndicador.Direccion)
                                                {
                                                    if (itemDireccion != last)
                                                    {
                                                        @(string.Concat(@itemDireccion.Nombre.Trim(),", "));
                                                    }
                                                    else
                                                    {
                                                        @itemDireccion.Nombre.Trim()
                                                    }

                                                }
                                            }

                                        </td>
                                    }
                                    else
                                    {
                                        <td>@item.DesServicio</td>                                
                                        <td>@itemIndicador.NombreIndicador</td> 
                                    }
                                    @if (eliminar)
                                    {
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm btnEliminar" aria-label="Left Align" data-toggle="modal" data-target="#modalEliminar"
                                                    data-select="true" title='@GB.SUTEL.Resources.Resources.btnTooltipEliminar'
                                                    data-json-selected='{"IdServicio":"@item.IdServicio","IdIndicador":"@itemIndicador.IdIndicador"}'>
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    }
                                </tr>
                            }
                            if (item.Indicador.Count() == 0)
                            {
                                <tr>
                                    @if (editar)
                                    {
                                        <td @*onclick="editRedirect('@Url.Action("Editar", "ServicioIndicador")','@item.IdServicio')"*@>@item.DesServicio</td>
                                        <td @*onclick="editRedirect('@Url.Action("Editar", "ServicioIndicador")','@item.IdServicio')"*@></td>
                                    }
                                    else
                                    {
                                        <td>@item.DesServicio</td>
                                        <td></td>
                                    }
                                    @if (eliminar)
                                    {
                                        <td></td>
                                    }
                                </tr>
                           //}
                        }
                    }
                }
                else
                {
                    @*<tr><td colspan="3">No se encontraron datos</td></tr>*@
                }

            </tbody>

            <tfoot>
                <tr>
                    <td>
                        <input placeholder="Servicio" name="Servicio" value="@(ViewBag.searchTerm[0] == null ? "" : ViewBag.searchTerm[0])" />
                    </td>
                    <td>
                        <input placeholder="Indicador" name="Indicador" value="@(ViewBag.searchTerm[1] == null ? "" : ViewBag.searchTerm[1])" />
                    </td>
                    <td>
                      @*  <input placeholder="Dirección" name="Dirección" value="@(ViewBag.searchTerm[1] == null ? "" : ViewBag.searchTerm[1])" />*@
                    </td>
                    @if (eliminar)
                    {
                        <td></td>
}
                </tr>
            </tfoot>
        </table>
    </form>
}