@using GB.SUTEL.Entities
@model List<Indicador>


<table class="display" cellspacing="0" data-table-grid="true" data-table-grid-display-rows="4">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Tipo Indicador
            </th>
            <th>
                Indicador
            </th>

            <th class="no-sort" style="min-width:40px;"></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>@Html.TextBox("txtFiltroCodigoIndicador", null, new { size = "5", onkeyup = "functionfiltrarIndicador(event);", @placeholder = "Código" })</td>
            <td>@Html.TextBox("txtFiltroTipoIndicador", null, new { size = "10", onkeyup = "functionfiltrarIndicador(event);", @placeholder = "T. Indicador" })</td>
            <td colspan="2">@Html.TextBox("txtFiltroIndicador", null, new { size = "10", onkeyup = "functionfiltrarIndicador(event);", @placeholder = "Indicador" })</td>
        </tr>
    </tfoot>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdIndicador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoIndicador.DesTipoInd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreIndicador)
                    </td>


                    <td>
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                                data-select="true" data-target="#divIndicador" onclick="funcionCargarCriterios('@item.IdIndicador')"
                                data-json-selected='{"IdIndicador":" @item.IdIndicador ", "txtIndicador": " @item.NombreIndicador"}'>
                            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                        </button>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>



