@model GB.SUTEL.UI.Models.ModificacionRegistroIndicadorViewModel
@using GB.SUTEL.Entities

@Html.Partial("Importar")
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6 col-sm-12">
            <h4>@GB.SUTEL.Resources.EtiquetasMantenimiento.ttlAdministracionModificacionRegistroIndicador</h4>
            <form id="formSolicitud" method="post"
                  data-ajax="true"
                  data-ajax-message="Guardando datos...">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Operador", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="input-group" style="width:350px;" id="divOperador">
                                @Html.TextAreaFor(model => model.operador.NombreOperador, new { @class = "form-control", @placeholder = "Operador", @id = "nombreOperador", disabled = true, @cols = "100", @rows = "3" })
                                @Html.HiddenFor(model => model.idOperador, new { @id = "IdOperador" })
                                <span class="input-group-btn">
                                    <button class="btn btn-primary glyphicon glyphicon-search" type="button" data-toggle="modal" id="btnBuscarOperador"
                                            data-target="#modalSeleccionarOperador" title="Buscar Operador"></button>
                                </span>
                                @Html.ValidationMessageFor(model => model.idOperador, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Servicio", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <select class="form-control" id="ddlServicio" name="idServicio">
                                <option value="0">Seleccione</option>

                            </select>

                            <span class="text-danger field-validation-error" data-valmsg-for="idServicio" data-valmsg-replace="true" hidden id="spanErrorIdServicio">
                                <span for="ddlServicio" class="">El valor es requerido.</span>
                            </span>

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Dirección", new { @id = "txtDireccion", @class = "control-label col-md-3" })
                        <div class="col-md-9">


                            @Html.DropDownListFor(model => model.idDireccion,
                                                           new SelectList(Model.listaDirecciones,
                                        "IdDireccion", "Nombre"),
                                                                                    "Seleccione", new { @id = "ddlDireccion", @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.idDireccion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Indicador", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">

                            <div class="input-group" style="width:350px;" id="divIndicador">
                                @Html.TextArea("txtIndicador", new { @class = "form-control", @placeholder = "Indicador", @id = "txtIndicador", disabled = true, @cols = "100", @rows = "3" })
                                @Html.HiddenFor(model => model.idIndicador, new { @id = "IdIndicador" })
                                <span class="input-group-btn">
                                    <button class="btn btn-primary glyphicon glyphicon-search" type="button" data-target="#modalSeleccionarIndicador" onclick="FilrarDatos()"
                                            data-toggle="modal" id="btnBuscarIndicador" title="Buscar Indicador"></button>
                                </span>
                                @Html.ValidationMessageFor(model => model.idIndicador, "", new { @class = "text-danger" })
                            </div>



                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Criterio", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <select class="form-control" id="ddlCriterio" name="idCriterio">
                                <option value="0">Seleccione</option>
                            </select>

                            <span class="text-danger field-validation-error" data-valmsg-for="idCriterio" data-valmsg-replace="true" hidden id="spanErrorIdCriterio">
                                <span for="ddlCriterio" class="">El valor es requerido.</span>
                            </span>

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Frecuencia", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.idFrecuencia,
                                                                  new SelectList(Model.listaFrecuencias,
                                                      "IdFrecuencia", "NombreFrecuencia"),
                                                                           "Seleccione", new { @class = "form-control", @id = "ddlFrecuencia" })

                            @Html.ValidationMessageFor(model => model.idFrecuencia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Desglose", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.idDesglose,
                                                                  new SelectList(Model.listaDesglose,
                                                      "IdFrecuencia", "NombreFrecuencia"),
                                                                                    "Seleccione", new { @class = "form-control", @id = "ddlDesglose" })
                            @Html.ValidationMessageFor(model => model.idDesglose, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Fecha Inicial", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.fechaInicial, "{0:dd/MM/yyyy}", new { @Id = "txtFechaIncial", @class = "form-control datefield", @placeholder = "dd/mm/aaaa", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.fechaInicial, "", new { @class = "text-danger" })




                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Fecha Final", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.fechaFinal, "{0:dd/MM/yyyy}", new { @Id = "txtFechaFinal", @class = "form-control datefield", @placeholder = "dd/mm/aaaa", @readonly = "readonly" })
                            @*@Html.EditorFor(model => model.fechaFinal, new { htmlAttributes = new { @class = "form-control", @placeholder = "dd/mm/aaaa", @id = "txtFechaFinal" } })*@
                            @*@Html.TextBox("txtFechaFinal", "", new { @class = "form-control", @placeholder = "dd/mm/aaaa" })*@
                            @Html.ValidationMessageFor(model => model.fechaFinal, "", new { @class = "text-danger" })

                        </div>
                    </div>



                </div>
            </form>

            <div class="form-group">
                <div class="control-label col-md-3"></div>
                <div class="col-md-9">
                    <input type="submit" value="Buscar" class="btn btn-success" id="btnBuscarModificarRegistro" alt="Buscar" title="Buscar solicitudes" onclick="functSolicitud();" />
                    <a class="btn btn-danger" id="btnLimpiarDatos" href="/ModificionRegistroIndicadorInterno" role="button">Limpiar Datos</a>
                </div>
                <br />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Modificar indicadores de forma masiva</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-11">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <label for="txtDescripcionServicio" class="col-sm-4 control-label">Servicio</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(model => model.idServicioModificacionMasiva, new SelectList(Model.ListaServicios, "IdServicio", "DesServicio"), "Seleccione", new { @id = "ddlServicioMasivo", @class = "form-control" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="txtOperadorNombreDescarga" class="col-sm-4 control-label">Operador</label>
                                    <div class="col-sm-8">
                                        <select id="ddlOperadorDescarga" class="form-control" multiple="multiple"></select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="txtIndicadorNombreDescarga" class="col-sm-4 control-label">Indicador</label>
                                    <div class="col-sm-8">
                                        <select id="ddlIndicadorDescarga" class="form-control" multiple="multiple"></select>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="txtNombreAnno" class="col-sm-4 control-label">Año</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="txtano" placeholder="Año">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="txtNombreFile" class="col-sm-4 control-label">Plantilla</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="txtNombreFile" placeholder="Nombre" value="Plantilla">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">

                    <div class="col-lg-offset-5">
                        <button type="button" tabindex="-1" class="btn btn-success" data-dismiss="modal" id="btnDescargarExcelRegistroIndicadores" onclick="descargarExcelRegistroIndicadores()">Descargar Excel</button>
                        <button type="button" id="btnImportarPlantilla" class="btn btn-primary" aria-label="Left Align" data-toggle="modal" data-target="#modalRegistroIndicadoresImportar" data-select="true" data-tooltip="true" data-placement="left" title="Descargar Archivo Excel">Importar Plantilla </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>










<div class="form-horizontal">

    <div class="form-group">

        <div class="col-md-12">
            <div id="divSolicitudes">
                @Html.Label("Solicitudes Registradas", new { @class = "control-label" })
                @Html.Action("_tablaSolicitudIndicador")
                @if (@ViewBag.mensajeSolicitud != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Alerta!</strong> ViewBag.mensajeSolicitud
                    </div>
                }
            </div>
        </div>
    </div>




    <div class="alert alert-danger" hidden role="alert" id="divMensajeSolicitudMensaje">
        <strong>Error!</strong>
        <div id="idMensajeErrorCuerpoSolitudMensaje"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="divPrincipalAgregarDetalleAgrupacion">Modificación del Valor del Detalle Agrupación del Indicador</div>
        <div class="panel-body">
            <table>
                <tr>
                    <td width="50%">
                        <div class="panel panel-default">
                            <div class="panel-heading">Detalle Agrupación Asociados</div>
                            <div class="panel-body" style=" height: 400px;width:540px; overflow: scroll;">
                                <div id="jstreeDetalleAgrupacion">

                                </div>

                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="panel panel-default">
                            <div id="divPnDetalle" class="panel-heading">Valor Registrado</div>
                            <div class="panel-body" style="width: 100%; height: 400px; overflow-y: scroll;">

                                <div class="form-group">
                                    @Html.Label("Mes", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <select class="form-control" id="ddlMes">
                                            <option value="0">Seleccione</option>

                                        </select>


                                    </div>
                                </div>
                                <div id="divValor" class="hidden">
                                    <div class="form-group hidden" id="divNivelDetalle">
                                        @Html.Label("Provincia", new { @class = "control-label col-md-3", @id = "txtNivelDetalle" })
                                        <div class="col-md-9">
                                            <select class="form-control" id="ddlNivelDetalle">
                                                <option value="0">Seleccione</option>

                                            </select>


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Valor Anterior", new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.TextBox("txtValorAnterior", "", new { @class = "form-control", @placeholder = "Valor Anterior", @readonly = "readonly" })
                                            @Html.Hidden("piNivelDetalle", "")
                                            @Html.Hidden("idTipoValor", "")


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Nuevo Valor", new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.TextBox("txtValorNuevo", "", new { @class = "form-control", @placeholder = "Nuevo Valor" })
                                            @Html.TextBox("txtValorNuevo1", "", new { @class = "form-control hidden", @placeholder = "Nuevo Valor", @readonly = "readonly" })
                                            @Html.TextBox("txtValorNuevo3", "", new { @class = "form-control hidden", @placeholder = "Nuevo Valor", @onkeypress = "return soloNumeros(event);" })
                                            @Html.TextBox("txtValorNuevo4", "", new { @class = "form-control hidden", @placeholder = "Nuevo Valor", @onkeypress = "return soloNumerosDecimales(event);" })


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Justificación", new { @class = "control-label col-md-3" })


                                        <div class="col-md-9">
                                            @Html.TextArea("txtJustificacion", new { @class = "form-control", @placeholder = "Justificación", @id = "txtJustificacion", @cols = "100", @rows = "3", @maxlength = 1000 })
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success" id="btnGuardar" onclick="functGuardarValor();" title="Guardar Nuevo Valor">Guardar</button>
                                    <div class="alert alert-danger" hidden role="alert" id="divMensajeError">
                                        <strong>Error!</strong>
                                        <div id="idMensajeErrorCuerpo"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
<div class="modal fade" id="divMensaje">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cerrar">×</button>
                <h4 class="modal-title" id="tituloMensaje">Mensaje</h4>
            </div>
            <div class="modal-body" id="contenidoMensaje">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" title="Aceptar">Aceptar</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalSeleccionarIndicador">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cerrar">×</button>
                <h4 class="modal-title" id="tituloMensaje">Seleccionar Indicador</h4>
            </div>
            <div class="modal-body" id="contenidoSeleccionarIndicador">
                <div id="tablaIndicador">
                    @Html.Action("_tablaIndicador")
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalSeleccionarOperador">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Cerrar">×</button>
                <h4 class="modal-title" id="tituloMensaje">Seleccionar Operador</h4>
            </div>
            <div class="modal-body" id="contenidoMensajeOperador">
                <div id="tablaOperador">
                    @Html.Action("_tablaOperador")
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->







@section scripts{
    @Scripts.Render("~/Scripts/Proceso/ModificacionRegistroIndicador/jsModificarRegistroIndicadorInterno.js")
    @Scripts.Render("~/Scripts/Proceso/ModificacionRegistroIndicador/jsModificacionMasiva.js")
    @Scripts.Render("~/Scripts/jsUtilidad.js")
}



