@model GB.SUTEL.Entities.Usuario
@using GB.SUTEL.Entities.Metadata;
<form id="formResetPassword" method="post"
      action="@Url.Action("Index")" data-ajax="true"
      data-ajax-message="Guardando cambios..." data-ajax-message-default="Guardar Cambios">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <h4>Cambio de contrase&ntilde;a</h4>
        <hr />        
        @if(ViewBag.FirstChange !=null){
        @*Cambio Obligatorio*@
        <div class="form-group tipoExterno">
            <div class="alert alert-info" role="alert" name="info">
                @Html.Raw(ViewBag.FirstChange)
            </div>
        </div>
        }else{
        @*Antigua Contraseña*@
        <div class="form-group tipoExterno">
            <label class = "control-label col-md-2">Contrase&ntilde;a actual</label>
            <div class="col-md-10">
                <input type="password" name="oldPassword" class="form-control required hiddenPassword" />
                <span class="text-danger field-validation-error" data-valmsg-for="oldPassword" data-valmsg-replace="true"></span>
            </div>
        </div>
        }                
        @*Nueva Clave*@
        <div class="form-group tipoExterno">
            <label class="control-label col-md-2">Nueva contrase&ntilde;a</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { @class = "form-control hiddenPassword" } })
                @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
            </div>
        </div>
        @*Repetir Clave*@
        <div class="form-group tipoExterno">
            <label class="control-label col-md-2">@GB.SUTEL.Entities.Metadata.EntityDisplays.USUARIO_contrasenia_repeat</label>
            <div class="col-md-10">
                <input type="password" name="passRepeat" class="form-control required hiddenPassword" />
                <span class="text-danger field-validation-error" data-valmsg-for="passRepeat" data-valmsg-replace="true"></span>
            </div>
        </div>
        @*Error*@
        <div class="form-group">
            <div class="alert alert-danger" hidden role="alert" name="error"></div>
            <div class="alert alert-warning" role="alert" hidden>@GB.SUTEL.Resources.Resources.CapsLock</div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar Cambios" class="btn btn-success" />
                @Html.ActionLink("Cancelar", "Index", "Home", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</form>
@section scripts{
    @Scripts.Render("~/Scripts/Seguridad/CambiarClave/source.js")
    @Scripts.Render("~/Scripts/Login/jquery.capslockstate.js")
    <script>
        jQuery.extend(jQuery.validator.messages, {
            required: "@GB.SUTEL.Entities.Metadata.EntityErrors.Requerido"
        });
        var closureMessage = (function () {
            var messages = {"DismatchPasswords":"@GB.SUTEL.Entities.Metadata.EntityErrors.ClaveNoCoincide",
                           "RegExpPassword":"@GB.SUTEL.Entities.Metadata.EntityErrors.RegExPassword"};
            return function () {
                return messages;
            };
        })();

        $("#formResetPassword input[type=password]").each(function () {
            $(this).val("");
        });
        
    </script>
}