@using GB.SIMEF.Resources;
@model GB.SIMEF.Entities.DefinicionIndicador


@Html.Hidden("txtmodoDefinicion", (string)ViewBag.Modo)
<form>
    <div class="row">
        <div class="col-md-11 col-sm-12 col-md-offset-1 col-sm-offset-0 mt-3">

            <div class="form-group">
                <label for="ddlTipoRegla" class="col-sm-12  ">@EtiquetasViewDefinicionIndicadores.Indicador</label>
                <div class="select2-wrapper col-sm-12 ">
                    @Html.DropDownListFor(model => model.Indicador.id, new SelectList(ViewBag.ListaIndicadores, "Value", "Text"), "Seleccione", new { @class = "listasDesplegables", id = "ddlindicador" })
                </div>
            </div>

        </div>



        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0 mt-3">
            <div class="form-group row">
                <label for="txtCodigoDefinicion" class="col-sm-12  col-form-label">@EtiquetasViewDefinicionIndicadores.LabelCodigo</label>
                <div class="col-sm-12 ">
                    @Html.EditorFor(model => model.Indicador.Codigo, new { htmlAttributes = new { @class = "form-control form-control-fonatel disabled", placeholder = EtiquetasViewCategorias.Codigo, id = "txtCodigoIndicador" } })

                </div>
            </div>

            <div class="form-group row">
                <label for="txtDireccionDefinicion" class="col-sm-12  col-form-label">@EtiquetasViewDefinicionIndicadores.LabelDirección</label>
                <div class="col-sm-12 ">
                    <input type="text" class="form-control form-control-fonatel disabled" id="txtDireccionDefinicion" value="Fonatel">
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-0">

            <div class="form-group row">
                <label for="txtNombreDefinicion" class="col-sm-12  col-form-label">@EtiquetasViewDefinicionIndicadores.LabelNombreDefinicion</label>
                <div class="col-sm-12 ">
                    @Html.EditorFor(model => model.Indicador.Nombre, new { htmlAttributes = new { @class = "form-control form-control-fonatel disabled", placeholder = EtiquetasViewCategorias.Nombre, id = "txtNombreIndicador" } })
                </div>
            </div>
            <div class="form-group row">
                <label for="txtServicioDefinicion" class="col-sm-12  col-form-label">@EtiquetasViewDefinicionIndicadores.LabelServicioDefinicion</label>
                <div class="col-sm-12 ">
                    @Html.EditorFor(model => model.Indicador.TipoIndicadores.Nombre, new { htmlAttributes = new { @class = "form-control form-control-fonatel disabled", placeholder = EtiquetasViewCategorias.Nombre, id = "txtTipoIndicador" } })
                </div>
            </div>

        </div>

        <div class="row mt-5">
            <div class="col-sm-10 col-sm-offset-0 col-md-10 col-md-offset-1">
                <div class="form-group row">

                    <label for="txtDefinicion" class="col-sm-12 col-form-label">@EtiquetasViewDefinicionIndicadores.LabelDefinicion</label>
                    <div class="col-sm-12">

                        @Html.EditorFor(model => model.Definicion, new { htmlAttributes = new { @class = "form-control form-control-fonatel alfa_numerico2", placeholder = @EtiquetasViewDefinicionIndicadores.LabelDefinicion, id = "txtDefinicion" } })
                        <small id="txtDefinicionHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-0 col-md-10 col-md-offset-1">
                <div class="form-group row">
                    <label for="txtFuenteDefinicion" class="col-sm-12 col-form-label">@EtiquetasViewDefinicionIndicadores.LabelFuenteDefinicion</label>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.Fuente, new { htmlAttributes = new { @class = "form-control form-control-fonatel alfa_numerico2", placeholder = @EtiquetasViewDefinicionIndicadores.LabelFuenteDefinicion, id = "txtFuenteDefinicion" } })
                        <small id="txtFuenteDefinicionHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-0 col-md-10 col-md-offset-1">
                <div class="form-group row">
                    <label for="txtNotasDefinicion" class="col-sm-12 col-form-label">@EtiquetasViewDefinicionIndicadores.LabelNotasDefinicion</label>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.Notas, new { htmlAttributes = new { @class = "form-control form-control-fonatel alfa_numerico2", placeholder = @EtiquetasViewDefinicionIndicadores.LabelNotasDefinicion, id = "txtNotasDefinicion" } })
                        <small id="txtNotasDefinicionHelp" class="form-text form-text-danger-fonatel hidden">@Etiquetas.CampoRequerido</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <button id="btnGuardarDefiniciones" class="btn btn-fonatel btn-success-fonatel">@Etiquetas.BotonGuardar</button>
            <button id="btnCancelarDefiniciones" type="submit" class="btn btn-fonatel btn-error-fonatel">@Etiquetas.BotonCancelar</button>
        </div>
    </div>
</form>

